.modal.search-modal {
  top: 10px;
  transform: translateX(-50%);
  gap: 15px;
  max-height: 500px;
  max-width: 600px;
  z-index: 9;
}

.search-modal .header {
  border-bottom: 1px solid #555;
  padding: 10px;
}

.search-modal .search-input-container {
  position: relative;
}

.search-modal .search-input-container form {
  display: flex;
  /* padding: 10px; */
  position: relative;
  gap: 10px;
}

.search-modal .search-input-container svg.search-icon {
  width: 15px;
  fill: white;
  position: absolute;
  top: 50%;
  left: 20px;
  transform: translateY(-50%);
}

.search-modal .search-input-container input {
  padding: 10px 10px 10px 45px;
  border: 1px solid #555;
  background-color: transparent;
  width: 100%;
  border-radius: 5px;
  color: white;
  /* border-top-left-radius: 25px;
  border-bottom-left-radius: 25px; */
  font-size: 1rem;
}

.search-modal .search-input-container button {
  background-color: transparent;
  border: 1px solid #555;
  padding: 5px 10px;
  font-size: 1rem;
  border-radius: 5px;
  /* height: 100%;; */
  /* border-top-right-radius: 25px;
  border-bottom-right-radius: 25px; */
  /* border: 1px solid var(--lightgreen); */
  color: white;
  font-weight: 600;
}

.search-modal .search-input-container button:not(:disabled) {
  cursor: pointer;
}

.search-modal .search-input-container button:not(:disabled):hover {
  background-color: #3f3f3f;
}

/* * Search Results */
.search-modal .search-results-container {
  display: none;
  flex-direction: column;
  /* border: 1px solid #555; */
  border-radius: 5px;
  overflow-y: auto;
}

.search-modal.active .search-results-container {
  display: flex;

}

.search-modal .search-results-container .search-types-list {
  display: flex;
  flex-direction: row;
  /* border-bottom: 1px solid #555; */
  overflow-y: auto;
  min-width: 100px;
  position: sticky;
  overflow-y: auto;
  top: 0;
  margin: 5px;
  gap: 10px;
}

.search-modal .search-results-container .search-types-list button {
  text-align: start;
  background-color: transparent;
  border: 0;
  padding: 5px 10px;
  font-size: 1rem;
  cursor: pointer;
  color: white;
  border: 1px solid #555;
  border-radius: 20px;
}

.search-modal .search-results-container .search-types-list button.toggled {
  background-color: #555;
}

/* .search-modal .search-results-container .search-types-list button:first-child {
  border-top-left-radius: 5px;
} */

.search-modal .search-results-container .search-types-list button:not(:last-child) {
  border-bottom: 1px solid #555;
}

.search-modal .search-results-container .no-search-results,
.search-modal .search-results-container .listing-results,
.search-modal .search-results-container .search-results,
.search-modal .search-results-container .user-results,
.search-modal .search-results-container .results-loading,
.search-modal .search-results-container .search-results .type-something-prompt,
.search-modal .search-results-container .search-results .recent-searches,
.search-modal .search-results-container .results-loading {
  padding: 7px;
  min-height: 200px;
  height: 100%;
  width: 100%;
}

.search-modal .search-results-container .search-results,
.search-modal .search-results-container .results-loading {
  border: 1px solid #555;
  border-radius: 5px;
}

.search-modal .search-results-container .search-results {
  padding: 0;
}

.search-modal .search-results-container .search-results .type-something-prompt {
}

.search-modal .search-results-container .search-types-list button,
.search-modal .search-results-container .no-search-results,
.search-modal .search-results-container .listing-results,
.search-modal .search-results-container .user-results,
.search-modal .search-results-container .results-loading,
.search-modal .search-results-container .search-results .type-something-prompt {
  font-size: 0.875rem;
}

.search-modal .search-results-container ul.listings {
  overflow-y: auto !important;
  display: flex;
  flex-direction: column;
  list-style: none;
  width: 100%;
  height: 100%;
}

.search-modal .search-results-container .recent-searches {
  padding: 0;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 3px;
}

.search-modal .search-results-container .recent-searches > p {
  /* position: absolute; */
  /* top: -15px; */
  font-size: 0.875rem;
  font-weight: 500;
  width: fit-content;
}

.search-modal .search-results-container .results-loading,
.search-modal .search-results-container .recent-searches ul.search-list {
  min-height: 200px;
}

.search-modal .search-results-container .recent-searches ul.search-list {
  border: 1px solid #555;
  border-radius: 5px;
  overflow: hidden;
}

.search-modal .search-results-container .recent-searches ul li {
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  padding: 5px 10px;
  font-size: 1rem;
  cursor: pointer;
  border-bottom: 1px solid #555;
}

.search-modal .search-results-container .recent-searches ul li:hover {
  background-color: #333;
}

.search-modal .search-results-container .recent-searches ul li .right-side {
  display: flex;
  gap: 15px;
  align-items: center;
}

.search-modal .search-results-container .recent-searches ul li .right-side > button {
  background: transparent;
  border: 0;
  height: 20px;
  width: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #444;
  border-radius: 100%;
  cursor: pointer;
}

.search-modal
  .search-results-container
  .recent-searches
  ul
  li
  .right-side
  > button:hover {
  background-color: #555;
}

.search-modal .search-results-container .recent-searches ul li p {
}

.search-modal .search-results-container .recent-searches ul li svg {
  width: 10px;
  fill: white;
}

.search-modal .search-results-container .recent-searches ul li.skeleton {
  background-color: #444;
  /* margin: 5px; */
  /* border-radius: 5px; */
}

.search-modal .search-results-container .recent-searches ul li.skeleton:not(:last-child) {
  border-bottom: 1px solid #222;
}

.search-modal .search-results-container ul.listings li {
  display: flex;
}

.search-modal .search-results-container ul.listings li:not(:last-child),
.search-modal .search-results-container ul.listings li:has(:only-child) {
  border-bottom: 1px solid #555;
}

.search-modal .search-results-container ul.listings li a {
  width: 100%;
  color: white;
  /* padding: 2px; */
  display: flex;
  gap: 15px;
  align-items: center;
}

.search-modal .search-results-container ul.listings li a:hover {
  text-decoration: none;
  background-color: #3f3f3f;
}

.search-modal .search-results-container ul.listings li a .image-container {
  width: 50px;
  /* height: 100px; */
  /* border-radius: 3px; */
  background-color: #333;
  align-items: center;
  max-width: 50px;
  height: 50px;
  overflow: hidden;
  border-right: #555 1px solid;
}

.search-modal .search-results-container ul.listings li a .image-container img {
  object-fit: cover;

  width: 100%;
  height: 100%;
}

.search-modal .search-results-container ul.listings li a .what-is-this {
  font-weight: 500;
}

.search-modal .search-results-container ul.listings li a .date-created {
  font-size: 0.875rem;
}

.search-modal .search-results-container ul.listings li a .username,
.search-modal .search-results-container ul.listings li a .location {
  font-size: 0.875rem;
  color: grey;
  /* font-weight: 500; */
}

/* Phones */
@media only screen and (max-device-width: 480px) {
  .modal.search-modal {
    top: 15px;
    width: calc(100% - 20px);
  }

  .search-modal .search-results-container .search-types-list {
    min-width: 65px;
  }

  .search-modal .search-results-container .search-types-list button {
    padding: 5px 10px;
  }

  .search-modal .search-input-container input {
    padding-left: 35px;
    padding: 7px 10px 7px 35px;
  }

  .search-modal .search-input-container svg {
    left: 12px !important;
  }

  .search-modal form button {
    font-size: 1rem;
    display: flex;
    align-items: center;
  }

  .search-modal form button svg {
    width: 15px;
    fill: white;
  }

  .search-modal .search-results-container .search-results ul li a {
    /* flex-direction: column; */
    align-items: flex-start;
    overflow: hidden;
    gap: 5px;
    white-space: nowrap;
  }

  .search-modal .search-results-container ul.listings li a .what-is-this {
    font-size: 0.875rem;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    width: 100%;
  }

  .search-modal .search-results-container ul.listings li a .username {
    font-size: 0.75rem;
  }
}
