nav.mobile-nav {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: var(--bg-primary);
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 9;
  display: flex;
  justify-content: space-between;
  top: initial;
  border-top: #444 1px solid;
  padding: 10px;
  gap: 15px;
}

nav.mobile-nav .filters-toggle-button,
nav.mobile-nav .home-link,
nav.mobile-nav .add-new-menu-toggle,
nav.mobile-nav .search-toggle,
nav.mobile-nav .right-side-menu-button,
nav.mobile-nav .notifications-menu-toggle,
nav.mobile-nav .sidebar-toggle-button {
  display: flex;
  /* overflow: hidden; */
  height: 50px;
  width: 100%;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  /* border-radius: 5px; */
  border: 1px solid #555;
  border: 0;
  position: relative;
}

nav.mobile-nav .add-new-menu-toggle {
  border: 0;
  border-radius: 5px;
  position: relative;
}

nav.mobile-nav .right-side-menu-button {
  border: 0;
  box-shadow: none;
}

nav.mobile-nav .right-side-menu-button.toggled {
  /* border-bottom: 3px solid var(--lightgreen); */
}

nav.mobile-nav .search-toggle svg,
nav.mobile-nav .add-new-menu-toggle svg,
nav.mobile-nav .notifications-menu-toggle svg,
nav.mobile-nav .filters-toggle-button svg,
nav.mobile-nav .home-link svg:not(.caret),
nav.mobile-nav .sidebar-toggle-button svg {
  width: 22px;
  min-width: 22px;
  fill: whitesmoke;
  filter: drop-shadow(rgba(0, 0, 0, 0.24) 0px 3px 8px);
}


nav.mobile-nav .search-toggle.toggled svg,
nav.mobile-nav .notifications-menu-toggle.toggled svg,
nav.mobile-nav .sidebar-toggle-button.active svg {
  fill: var(--lightgreen);
}

nav.mobile-nav .right-side-menu-button .profile-image-container {
  height: 40px;
  width: 40px;
  min-width: 40px;
  border: 2px solid #555;
  border-radius: 50%;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

nav.mobile-nav .right-side-menu-button.toggled .profile-image-container {
  border-color: var(--lightgreen);
}

nav.mobile-nav .right-side-menu-button .profile-image {
  height: 100%;
  width: 100%;
  border-radius: 50%;
  background-color: white;
  object-fit: cover;
}

#root > nav > button.notifications-menu-toggle {
  position: relative;
}

#root > nav > button.notifications-menu-toggle > span {
  position: absolute;
  font-weight: 600;
  right: 6px;
  top: 5px;
  background-color: #e41e3f;
  color: white;
  font-size: 0.75rem;
  border-radius: 50%;
  aspect-ratio: 1/1;
  width: 18px;
  height: 18px;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
}

nav.mobile-nav .add-new-menu-toggle {
  color: white;
  transition: 0.1s ease background-color, 0.1s ease border-color;
  background-color: transparent;
  border: 1px solid var(--lightgreen);
}

nav.mobile-nav .add-new-menu-toggle.toggled {
  background-color: var(--lightgreen);
  border: 1px solid transparent;
}

nav.mobile-nav .add-new-menu-toggle svg {
  filter: drop-shadow(1px 1px 3px rgba(0, 0, 0, 0.3));
  fill: var(--lightgreen);
}

nav.mobile-nav .add-new-menu-toggle.toggled svg {
  fill: white;
}

nav.mobile-nav .search-bar .search-input-container .search-input-toggle svg {
  width: 19px;
}

nav.mobile-nav .filters-toggle-button svg.caret {
  display: none;
}

/* tablets */
@media only screen and (max-device-width: 768px) {
}

/* Laptops and medium desktops */
@media only screen and (max-device-width: 992px) {
}

/* large desktops/devices */
@media only screen and (max-device-width: 1200px) {
}
