.modal.contact-buyer {
  max-width: 500px;
  z-index: 7;
  padding: 0;
  top: 70px;
  transform: translateX(-50%);
}

.modal.contact-buyer>  .header {
  padding: 10px;
  border-bottom: 1px solid #555;
  flex-direction: column ;
  align-items: flex-start;
}

.modal.modal.contact-buyer .content {
  padding: 10px;
  justify-content: flex-start;
}

.modal.modal.contact-buyer .input-container {
  width: 100%;
  position: relative;
}

.modal.modal.contact-buyer .input-container::before {
  content: "$";
  position: absolute;
  left: 10px;
  top: 0;
  z-index: 2;
  color: grey;
  transform: translateY(-50%);
  top: 50%;
  border-right: 1px solid grey;
  padding-right: 10px;
  height: calc(100% - 2px);
  font-size: 1rem;
  display: flex;
  align-items: center;
}

.modal.modal.contact-buyer .input-container input {
  padding-left: 37px !important;
  position: relative;
  width: 100%;
}