main.create-wanted-item {
  display: flex;
  flex-direction: column;
  padding: 15px;
  padding-top: 65px;
  max-width: 1265px; /* same as stack overflow */
  margin: 0 auto;

  max-width: 620px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-bottom: 100px;
  width: 100%;
}

.create-wanted-item h1 {
  font-size: 1.5rem;
}

.create-wanted-item > form {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.create-wanted-item > form fieldset {
  border: 0;
  display: flex;
  justify-content: space-between;
  gap: 15px;
}

.create-wanted-item form .input-container {
  width: 100%;
  position: relative;
}

.create-wanted-item form .input-container::before {
  content: "$";
  position: absolute;
  left: 10px;
  top: 0;
  z-index: 2;
  color: grey;
  transform: translateY(-50%);
  top: 50%;
  border-right: 1px solid grey;
  padding-right: 10px;
  height: calc(100% - 2px);
  font-size: 1rem;
  display: flex;
  align-items: center;
}

.create-wanted-item form .input-container input {
  padding-left: 37px !important;
  position: relative;
}

.create-wanted-item form div.form-block:not(.photo-uploader) {
  padding: 0;
}

.create-wanted-item > form > div.form-block {
  background-color: #2b2b2b;
  padding: 10px;
  border-radius: 3px;
  display: flex;
  flex-direction: column;
  gap: 0;
}

.create-wanted-item form .form-block .header {
  border-bottom: 1px solid #555;
  border-left: 5px solid #666;
  padding: 10px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}

.create-wanted-item form .form-block .header h2 {
  font-size: 1.5rem;
}

.create-wanted-item form .form-block .form-content {
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.create-wanted-item form div.form-block .form-group {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 3px;
  width: 100%;
  gap: 3px;
}

.create-wanted-item form div.form-block .form-group .cant-find-city-toggle {
  color: white;
  font-size: 0.875rem;
  background-color: transparent;
  border: 0;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 8px;
  white-space: nowrap;
  margin-top: 3px;
}

.create-wanted-item form div.form-block .form-group.disabled .cant-find-city-toggle {
  color: grey;
}

.create-wanted-item form div.form-block .form-group .cant-find-city-toggle:hover {
  text-decoration: underline;
}

.create-wanted-item form div.form-block .form-group .cant-find-city-toggle svg {
  fill: whitesmoke;
  width: 9px;
}

.create-wanted-item > form .form-group textarea {
  --padding: 10px;
  min-height: 150px;
  min-height: calc(5lh + 2 * var(--padding));
  /* max-height: calc(5lh + 2 * var(--padding)); */
  max-height: calc(10lh + 2 * var(--padding));
  /* field-sizing: content; */
  line-height: 1.5;
  padding-inline: calc(var(--padding) + calc(1lh + 1ex) / 2);
}

.create-wanted-item > form .form-group input:not([type="radio"]):not([type="file"]),
.create-wanted-item > form .form-group textarea,
.create-wanted-item > form .form-group select {
  width: 100%;
  padding: 5px 10px;
  font-family: inherit;
  font-size: 1rem;
  background-color: #333;
  border: 1px solid #555;
  color: white;
  border-radius: 3px;
  /* transition: border-color 0.025s cubic-bezier(0.25, 0.1, 0.25, 1); */
}

.create-wanted-item > form .input-container input {
  padding-left: 37px;
}

.create-wanted-item
  > form
  .form-group.disabled
  input:not([type="radio"]):not([type="file"]) {
  color: grey;
  cursor: not-allowed;
}

.sell
  > form
  .form-group
  input:not([type="radio"]):not([type="file"]):not(:disabled):hover,
.create-wanted-item > form .form-group textarea:not(:disabled):hover,
.create-wanted-item > form .form-group select:not(:disabled):hover,
.create-wanted-item > form .custom-photo-upload:not(:disabled):not(.marked):hover,
.create-wanted-item > form .form-block .reset-images-button:not(:disabled):hover,
.sell
  form
  .form-group.shipping
  .shipping-selector
  .shipping-toggle-button:not(.selected):hover {
  border-color: #666;
}

c > form .form-group select:not(:disabled) {
  cursor: pointer;
}

.create-wanted-item > form .submit-container {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.create-wanted-item > form .submit-container .warning {
  font-size: 0.875rem;
  color: var(--red);
}

.create-wanted-item > form button[type="submit"] {
  background-color: var(--lightgreen);
  padding: 7px 15px;
  align-self: flex-start;
  border-radius: 3px;
  font-size: 1rem;
  color: white;
  font-weight: 600;
  border: 1px solid transparent;
  cursor: pointer;
  transition: 0.1s ease filter;
  text-shadow: 1px 1px 3px #21252963;
}

.create-wanted-item > form button[type="submit"]:not(:disabled):hover {
  filter: brightness(1.1);
}

.create-wanted-item > form button[type="submit"]:disabled {
  color: grey;
  background-color: #444;
  cursor: not-allowed;
}

div.form-block.photo-uploader label.photo-upload:not(:disabled):not(.marked):hover,
.create-wanted-item > form .form-group input:not([type="radio"]):not([type="file"]):not(.marked):hover {
  border-color: #666;
}

@media only screen and (max-device-width: 480px) {
  main.create-wanted-item {
    padding-top: 10px;;
  }

  main.create-wanted-item > form {
    gap: 20px;
  }
}
