.desktop-search-toggle {
  display: flex;
  align-items: center;
  border: 1px solid #555;
  border-radius: 5px;
  gap: 10px;
  padding: 5px 10px;
  background-color: transparent;
  font-size: 0.875rem;
  color: grey;
  cursor: pointer;
  white-space: nowrap;
  height: 32px;
  min-width: 200px;
}

.desktop-search-toggle  svg {
  fill: white;
  width: 15px;
  min-width: 15px;
}

.desktop-search-toggle .slash-with-border {
  border: 1px solid grey;
  padding: 1px 5px;
  border-radius: 3px;
  height: 1.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.desktop-search-toggle:hover {
  background-color: #333;
  border-color: #555;
}

@media screen and (max-width: 430px) {

  .desktop-search-toggle {
    width: 32px;
    max-width: 32px;;
    min-width: 32px;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;

  }

  .desktop-search-toggle .search-span {
    display: none;
  }

  
}