.checkbox-options {
  display: flex;
  padding: 5px;
  flex-direction: column;
  gap: 5px;

}
.checkbox-options > .checkbox-option {
  display: flex;
  font-size: 1rem;
  align-items: center;
  gap: 10px;
  padding: 3px 0;
  cursor: pointer;
}

.checkbox-options > .checkbox-option .box-container {
  border: 1px solid white;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 2px;
}

.checkbox-options > .checkbox-option.medium .box-container {
  width: 20px;
  height: 20px;
}

.checkbox-options > .checkbox-option.small .box-container {
  width: 15px;
  height: 15px;
}

.checkbox-options > .checkbox-option .box-container .box {
  background-color: white;
  border-radius: 1px;
}

.checkbox-options > .checkbox-option .box-container .box {
  width: 70%;
  height: 70%;
}

/* .checkbox-options > .checkbox-option.small .box-container .box {
  width: 7px;
  height: 7px;
} */


.checkbox-options > .checkbox-option label {
  font-size: 0.875rem;
  cursor: pointer;
}

.checkbox-options > .checkbox-option svg {
  width: 17px;
  fill: #ccc;
}

.checkbox-options.disabled > .checkbox-option svg {
  fill: grey;
}



.checkbox-options.disabled > .checkbox-option label {
  color: grey;
}

.checkbox-options:not(.disabled) > .checkbox-option:hover svg {
  fill:var(--yellow);
}
