.category-selector {
  display: flex;
  flex-direction: column;
  width: 100%;
  border: 1px solid grey;
  border-radius: 3px;
  overflow-y: auto;
  max-height: 400px;
  position: relative;
}

.category-selector.for-modal {
  border: 0;
}

.category-selector.for-modal .category-list-buttons {
  border: 0;
  justify-content: flex-start;
}

.category-selector .category-list-buttons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  position: sticky;
  top: 0;
  background-color: #444;
  padding: 3px;
  z-index: 2;
  margin-bottom: 5px;
}

.category-selector .category-list-buttons .selected-category {
  align-self: flex-start;
  border-left: 3px solid var(--lightgreen);
  margin-left: 10px;
  padding-left: 10px;
}

.category-selector .category-list-buttons .selected-category.red {
  border-left-color: var(--red);
}

.category-selector .category-list-buttons button {
  background-color: transparent;
  border: 0;
  padding: 3px 5px;
  cursor: pointer;
  font-size: 0.875rem;
  color: white;
}

.category-selector .category-list-buttons button:hover {
  text-decoration: underline;
}

.category-selector .categories-list-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.category-selector .categories-list-container.is-nested {
  /* border-left: 1px solid grey; */
  /* margin-left: 10px; */
  padding-left: 5px;
  margin-top: 5px;
}

.category-selector .categories-list-container .list-and-nest-bar {
  width: 100%;
  display: flex;
}

.category-selector .categories-list-container .list-and-nest-bar .categories-list {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.categories-list-container
  button.category-button:hover:not(:has(div:hover))
  .categories-list-container.is-nested:first-child
  .nest-bar {
  background-color: var(--lightgreen);
}

.categories-list-container .nest-bar {
  width: 2px;
  border: 0;
  background-color: #555;
  margin-right: 5px;
  height: 100%;
  padding: 0;
}

.category-selector .categories-list-container button.category-button {
  padding: 5px 10px;
  background-color: transparent;
  border: 1px solid grey;
  display: flex;
  flex-direction: column;
  border: 0;
  cursor: pointer;
  font-size: 1rem;
  color: white;
  border-radius: 2px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  padding-right: 0;
  /* margin-right: 3px; */
}

.category-selector
  .categories-list-container
  button.category-button:hover:not(:has(button:hover)) {
  color: var(--lightgreen);
  background-color: #555;
}

.category-selector
  .categories-list-container
  button.category-button.is-folder:hover:not(:has(button:hover)) {
  background-color: transparent;
}

.category-selector
  .categories-list-container
  button.category-button:hover:not(:has(button:hover))
  > .categories-list-container
  > .list-and-nest-bar
  > .nest-bar {
  background-color: var(--lightgreen);
}

/* .category-selector .categories-list-container button.category-button:last-child {
  border-bottom: 0;
} */

.category-selector .categories-list-container button.category-button .label-and-arrow {
  display: flex;
  justify-content: flex-start;
  gap: 10px;
  width: 100%;
  white-space: nowrap;
}

.category-selector
  .categories-list-container
  button.category-button:not(.is-folder)
  .label-and-arrow {
  gap: 100px;
}

.category-selector .categories-list-container button.category-button svg.caret {
  width: 7px;
  fill: grey;
}

.category-selector .categories-list-container button.category-button svg.radio-icon {
  width: 12px;
  min-width: 12px;
  fill: grey;
  margin-left: auto;
  margin-right: 10px;
}

.category-selector
  .categories-list-container
  button.category-button
  svg.radio-icon.checked {
  fill: var(--lightgreen);
}

.category-selector
  .categories-list-container
  button.category-button:hover:not(:has(button:hover))
  > .label-and-arrow
  > svg:not(.checked) {
  fill: var(--lightgreen);
}

/* .category-selector .categories-list-container button.category-button:last-child {
  border-bottom: 1px solid grey;
} */
