.search-bar {
  /* width: 100%; */
  /* margin-bottom: 20px; */
  /* width: 100%; */
  max-width: 400px;
  height: 100%;
}

.search-bar form {
  display: flex;
  width: fit-content;
  gap: 10px;
  /* background-color: #2f2f2f; */
  max-width: 400px;
  /* padding: 10px; */
}

.search-bar form.toggled {
  width: 100%;
}


.search-bar form:hover {
  border-color: #555;
}

.search-bar form:active {
  border-color: #666;
}

.search-bar form .search-input-toggle {
  padding: 0;
  width: 40px;
  min-width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 0;
  background-color: transparent;
  background-color: #444;
  border: #555 1px solid;

}

.search-bar form .search-input-toggle svg{
  width: 15px;
  fill: white;
}


.search-bar form .search-input-toggle:hover svg{
  fill: white;
}

.search-bar form .search-input-container {
  position: relative;
  width: fit-content;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  border-radius: 10px;
  width: 100%;
  border: #444 1px solid;
  border-radius: 20px;
}

.search-bar form .search-input-container input {
  width: 100%;
  border-top-right-radius: 20px;;
  border-bottom-right-radius: 20px;;
  font-size: 1rem;
  color: white;
  background-color: transparent;
  border: 0;
  text-overflow: ellipsis;
  padding-left: 10px;
}

.search-bar form .search-input-container .search-icon {
  pointer-events: none;
} 

.search-bar form button {
  padding: 5px 10px;
  background-color: #666;
  border: 0;
  border-radius: 3px;
  font-size: 1rem;
}

.search-bar form button:not(:disabled) {
  cursor: pointer;
}



.search-bar form button {
  font-size: 1rem;
  color: white;
  background-color: #444;
  border: 1px solid grey;
  border-radius: 3px;
  padding: 3px 5px;
  cursor: pointer;
  transition: 0.1s ease background-color;
  align-items: center;
  display: flex;
  gap: 5px;
}



@media screen and (max-width: 500px) {
  /* .search-bar {
    position: fixed;
    top: 54px;
    left: 50%;
    width: calc(100% - 30px);
    transform: translateX(-50%);
    z-index: 2;
    background-color: var(--bg-primary);
    width: 100%;
    padding: 10px 15px;
    z-index: 3;
  } */
}
