.search-bar {
  width: 100%;
  /* margin-bottom: 20px; */
  max-width: 500px;
  height: 100%;
}

.search-bar form {
  display: flex;
  width: 100%;
  gap: 10px;
}

.search-bar form svg {
  width: 15px;
  fill: white;
}

.search-bar form .search-input-container {
  position: relative;
  width: 100%;
}

.search-bar form .search-input-container input {
  width: 100%;
  padding: 5px 10px;
  padding-left: 35px;
  height: 35px;
  font-size: 1rem;
  border-radius: 5px;
  border: #555 1px solid;
  background-color: #444;
  color: white;
}

.search-bar form .search-input-container .search-icon {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
}

.search-bar form button {
  padding: 5px 10px;
  background-color: #666;
  border: 0;
  border-radius: 3px;
  font-size: 1rem;
}

.search-bar form button:not(:disabled) {
  cursor: pointer;
}

.search-bar form button:not(:disabled):hover {
  background-color: #6f6f6f;
}

.search-bar form button {
  font-size: 1rem;
  color: white;
  background-color: #444;
  border: 1px solid grey;
  border-radius: 3px;
  padding: 3px 5px;
  cursor: pointer;
  transition: 0.1s ease background-color;
  align-items: center;
  display: flex;
  gap: 5px;
}

.search-bar form button:hover {
  background-color: #5f5f5f;
}

@media screen and (max-width: 500px) {
  /* .search-bar {
    position: fixed;
    top: 54px;
    left: 50%;
    width: calc(100% - 30px);
    transform: translateX(-50%);
    z-index: 2;
    background-color: var(--bg-primary);
    width: 100%;
    padding: 10px 15px;
    z-index: 3;
  } */
}
