.unauthenticated-options-menu {
  position: fixed;
  bottom: 60px;
  right: 5px;
  display: flex;
  flex-direction: column;
  background-color: #333;
  border: 1px solid #555;
  border-radius: 3px;
  min-width: 120px;
  box-shadow: -3px 3px 5px #18181877;
}

.unauthenticated-options-menu a {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  padding: 10px 15px;
  cursor: pointer;
  gap: 10px;
  color: white;
  background-color: #333;
  font-size: 1rem;
}


.unauthenticated-options-menu a:not(:last-child) {
  border-bottom: 1px solid #555;
}

.unauthenticated-options-menu a:hover {
  background-color: #3b3b3b;
  text-decoration: none;
}

.unauthenticated-options-menu a {
  background-color: transparent;
  border: 0;
  font-size: 1rem;
}

.unauthenticated-options-menu a:hover {
  background-color: #444;
  text-decoration: none;
}

.unauthenticated-options-menu a:active {
  background-color: #6f6f6f;
}

.unauthenticated-options-menu a svg {
  fill: white;
  width: 20px;
}
