.login {
  max-width: 400px;
  margin: 0 auto;
  width: 100%;
}

.login h1 {
  align-self: flex-start;
  margin-bottom: 10px;
}

.login form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.login form .form-block {
  background-color: #444;
  padding: 10px;
  border-radius: 3px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.login form .form-group {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.login form .form-group label {
  font-size: 0.875rem;
}

.login form .form-group input,
.login form button {
  padding: 3px 5px;
  border-radius: 3px;
  border: 1px solid grey;
  background-color: #3b3b3b;
  color: white;
  font-size: 1rem;
}

.login form button[type="submit"] {
  align-self: flex-start;
  font-size: 1rem;
  color: white;
  background-color: #444;
  border: 1px solid grey;
  border-radius: 3px;
  padding: 3px 5px;
  cursor: pointer;
  transition: 0.1s ease background-color;
}

.login a:hover {
  text-decoration: underline;
}
