/* * Filters */
.home .sidebar {
  /* position: fixed;
  left: 0;
  top: 0; */
  z-index: 6;
  height: 100%;
  max-height: 100%;
  overflow: hidden;
  /* border-right: #555 1px solid; */
  overflow: visible;
  background-color: var(--bg-primary);
  max-width: 240px;
  width: 100%;
}

.home .sidebar.over-nav {
  /* z-index: 6; */
  padding-top: 15px;
  position: fixed;
  left: 0;
  top: 0;
  padding-top: 70px;
}

.home .sidebar .sidebar-container {
  padding: 10px 0 15px 0;
  height: 100%;
  width: 100%;
  position: relative;
  overflow: auto;
}

.home .sidebar .sidebar-fixed-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 240px;
  height: 100vh;
  background-color: transparent;
  /* pointer-events: none; */
  z-index: 1;
}

.home .sidebar .sidebar-fixed-wrapper .dotted-track {
  height: 100%;
  background-color: transparent;
  width: 1px;
  position: absolute;
  right: -6px;
  border-right: dashed 1px #555;
  top: 0;
}

.home .sidebar .sidebar-fixed-wrapper .sidebar-toggle-button {
  --btn-width: 40px;
  position: absolute;
  /* cursor: grab; */
  /* margin-top: 52px; */
  cursor: pointer;
  right: calc(var(--btn-width) * -1);
  height: 60px;
  border-bottom-right-radius: 3px;
  width: calc(var(--btn-width) * 1);
  background-color: var(--lightgreen);
  border: #222 1px solid;
  border-left: 0;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  opacity: 0.9;
  right: -webkit-calc(var(--btn-width) * -1);
  right: -moz-calc(var(--btn-width) * -1);
  right: calc(var(--btn-width) * -1);
}

.home .sidebar .sidebar-fixed-wrapper .sidebar-toggle-button:hover {
}

.home .sidebar .sidebar-fixed-wrapper .sidebar-toggle-button svg {
  width: 15px;
  fill: white;
}

.filters {
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  margin-bottom: 25px;
  gap: 15px;
  padding-bottom: 30px;
  z-index: 3;
  position: relative;
}

.filters .listing-count-and-reset {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  padding: 0 0px 0 10px;
  background-color: #333;
  border: 1px solid #444;
  border-left: 5px solid var(--lightgreen);
  margin: 0 10px;
  border-radius: 3px;
  height: 33px;
  position: relative;
  overflow: hidden;
}

.filters .listing-count-and-reset > p {
  font-weight: 500;
  font-size: 0.875rem;
  display: flex;
  align-items: center;
  gap: 5px;
}

.filters .listing-count-and-reset > .reset-button {
  background-color: transparent;
  border: 0;
  padding: 0;
  display: flex;
  align-self: center;
  align-items: center;
  gap: 10px;
  font-size: 0.875rem;
  cursor: pointer;
  color: white;
  background-color: transparent;
  padding: 0;
  border: 0;
  border-left: 1px solid #444;
  padding: 0 15px;
  height: 100%;
  position: relative;
}

.home .close-sidebar-button:hover svg {
  /* background-color: #6f6f6f; */
  fill: var(--yellow);
}

.home .close-sidebar-button svg {
  width: 25px;
}

.filters .listing-count-and-reset .reset-button:not(:disabled):hover {
  background-color: #3b3b3b;
}

.filters .listing-count-and-reset .reset-button:disabled {
  cursor: not-allowed;
  color: grey;
}

.filters .listing-count-and-reset .reset-button svg {
  width: 25px;
  fill: white;
}

.filters .listing-count-and-reset .reset-button:disabled svg {
  fill: grey;
}

.filters .listing-count-and-reset .reset-button:not(:disabled):hover svg {
  fill: var(--yellow);
}

.filters > .filter-items {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.filters > .filter-items .filter-item {
  display: flex;
  flex-direction: column;
  padding: 10px;
  margin: 0 10px;
  gap: 2px;
  background-color: #2b2b2b;
  border: 1px solid #333;
  border-radius: 3px;
}

.filters > .filter-items > .filter-item > .wanted-or-for-sale-buttons {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.filters > .filter-items > .filter-item > .wanted-or-for-sale-buttons > button {
  font-size: 0.875rem;
  height: 23px;
  border: 0;
  background-color: transparent;
  display: flex;
  align-items: center;
  gap: 10px;
  width: 100%;
  cursor: pointer;
}


.filters > .filter-items > .filter-item > .wanted-or-for-sale-buttons > button > svg {
  width: 14px; 
  fill: white;
}

.filters > .filter-items > .filter-item > .wanted-or-for-sale-buttons > button:not(.selected) > svg {
  fill: grey;
}

.filters > .filter-items > .filter-item > .wanted-or-for-sale-buttons > button:not(.selected):hover > svg {
  fill: lightgreen;
}

.filters > .filter-items > .filter-item > .wanted-or-for-sale-buttons > button > p {
  border-radius: 3px;
  background-color: #444;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  border: 1px solid #555;
}

.filters
  > .filter-items
  > .filter-item
  > .wanted-or-for-sale-buttons
  > button.wanted
  > p {
  font-family: "WesternFont";
  background-color: #e8d49f;
  color: #060204;
  background-image: url("../../../assets//background-images/old-paper-background.jpg");
  background-position: center;
  background-size: cover;
  border: 0;
}

.filters
  > .filter-items
  > .filter-item
  > .wanted-or-for-sale-buttons > button.for-sale > p {
  /* background-color: #D5272D; */
  font-weight: 600;
}

.filters > .filter-items .filter-item .select-container {
  display: flex;
  width: 100%;
  position: relative;
}

.filters > .filter-items .filter-item .select-container > select {
  /* background-color: transparent; */
  /* border: 0; */
  background-color: #3b3b3b;
  border-radius: 3px;
  /* border-left: 2px solid ; */
  /* padding: 5px 7px; */
  cursor: pointer;
  transition: 0.05s ease background-color;
  color: whitesmoke;
  padding-left: 30px;
  z-index: 1;
  border: 1px solid #555;
  width: 100%;
  /* box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px; */
}

.filters > .filter-items .filter-item .select-container svg {
  position: absolute;
  width: 9px;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  fill: whitesmoke;
  z-index: 2;
}

.filters > .filter-items .filter-item .label-and-reset {
  display: flex;
  justify-content: flex-start;
  gap: 8px;
  font-size: 0.875rem;
  white-space: nowrap;
  flex-wrap: wrap;
}

.filters > .filter-items .filter-item .label-and-reset button {
  background-color: transparent;
  padding: 0;
  color: plum;
  font-size: 0.875rem;
  border: 0;
  display: flex;
  cursor: pointer;
  align-self: center;
  white-space: nowrap;
}

.filters > .filter-items .filter-item .label-and-reset button:hover {
  text-decoration: underline;
}

.filters > .filter-items .filter-item .select-category-modal-toggle {
  justify-content: space-between;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  gap: 10px;
  /* width: 200px; */
}

.filters > .filter-items .filter-item .select-category-modal-toggle .current-category {
  width: 100%;
  text-align: start;
  text-overflow: ellipsis;
  overflow: hidden;
}

.filters
  > .filter-items
  .filter-item
  .select-category-modal-toggle
  .current-category.empty {
  color: #ffffff60;
}

.filters > .filter-items .filter-item .select-category-modal-toggle svg {
  width: 9px;
  min-width: 9px;
}

.filters > .filter-items .filter-item.disabled label {
  color: grey;
}

.filters > .filter-items .filter-item.disabled input {
  border-color: grey;
  color: grey;
}

.filters > .filter-items .filter-item > label {
  font-size: 1rem;
  font-weight: 600;
}

.filters > .filter-items .filter-item .min-max-price-inputs {
  display: flex;
  gap: 10px;
  /* flex-direction: column; */
}

.filters > .filter-items .filter-item .min-max-price-inputs .min-max-input-container {
  display: flex;
  flex-direction: column;
  font-size: 0.875rem;
}

/* .home
  .filters
  > .filter-items
  .filter-item
  > .checkbox-options
  > .checkbox-option
  > label {
  font-size: 0.875rem;
  cursor: pointer;
}

.filters > .filter-items .filter-item > .checkbox-options > .checkbox-option {
  display: flex;
  gap: 5px;
  font-size: 0.875rem;
  cursor: pointer !important;
}

.filters > .filter-items .filter-item > .checkbox-options > .checkbox-option:hover {
  border-color: #aaa;
} */

.filters > .filter-items .filter-item select {
  max-width: 100%;
}

.filters > .filter-items .filter-item select:not(:disabled) {
  cursor: pointer;
}

.filters > .filter-items .filter-item select:not(:disabled):hover {
  background-color: #4f4f4f;
}

.filters > .filter-items .filter-item input[type="text"],
.filters > .filter-items .filter-item input[type="number"],
.filters > .filter-items .filter-item select {
  padding: 3px 5px;
  border-radius: 3px;
  border: 1px solid #555;
  background-color: #444;
  font-size: 1rem;
  color: white;
}

.filters > .filter-items .filter-item.disabled select {
  color: grey;
}

.filters > .filter-items .filter-item .min-max-input-container {
  width: 100%;
  overflow: hidden;
}

.filters > .filter-items .filter-item .min-max-input-container input {
  max-width: 100px;
}

/* .filters > .filter-items  .filter-item .min-max-input-container input.error {
  border-color: #ff607d;
  background-color: #3B3B3B;
  outline-color: blue;
} */

.filters > .filter-items .filter-item .min-max-input-container input:focus,
.filters > .filter-items .filter-item .min-max-input-container input:active {
  outline: green;
}

/* .filters > .filter-items .filter-item > .checkbox-options {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.filters > .filter-items .filter-item > .checkbox-options > .checkbox-option {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  white-space: nowrap;
  gap: 5px; 
  padding: 3px 5px 3px 3px;
  border-radius: 2px;
  cursor: pointer;
}

.home
  .filters
  > .filter-items
  .filter-item
  > .checkbox-options
  > .checkbox-option.checked
  label {
  background-color: #3b3b3b;
  border: 1px solid grey;
} */

.filters .filter-warning {
  font-size: 0.875rem;
  color: var(--red);
}

@media screen and (max-device-width: 480px) {
  .home .sidebar.over-nav {
    width: 100%;
    border-right: #555 1px solid;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 15px;
  }
  .home .sidebar .sidebar-fixed-wrapper {
  }
  .home .sidebar .sidebar-fixed-wrapper .sidebar-toggle-button {
    margin-top: 100px;
    padding-left: 15px;
    padding-right: 15px;
  }

  .home .sidebar .sidebar-container {
    padding-top: 0;
  }

  .home .sidebar .filter-item {
    padding: 10px 10px;
  }
}
