/* * Filters */
.home .sidebar {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 3;
  padding: 15px;
  height: 100%;
  max-height: 100%;
  overflow: hidden;
  border-right: #555 1px solid;
  /* margin-top: -15px; */
  /* padding-top: 15px; */
  padding-top: 70px;
  padding-right: 15px;
  /* overflow: auto; */
  background-color: var(--bg-primary);
  max-width: 240px;
}

.home .sidebar.over-nav {
  z-index: 6;
  padding-top: 15px;
}

.home .sidebar .sidebar-fixed-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 240px;
  height: 100vh;
  background-color: transparent;
  /* pointer-events: none; */
  z-index: 1;

}

.home .sidebar .sidebar-fixed-wrapper .dotted-track {
  height: 100%;
  background-color: transparent;
  width: 1px;
  position: absolute;
  right: -6px;
  border-right: dashed 1px #555;
  top: 0;
}

.home .sidebar .sidebar-fixed-wrapper .sidebar-toggle-button {
  --btn-width: 40px;
  position: absolute;
  /* cursor: grab; */
  /* margin-top: 52px; */
  cursor: pointer;
  right: calc(var(--btn-width) * -1);
  height: 60px;
  border-bottom-right-radius: 3px;
  width: calc(var(--btn-width) * 1);
  background-color: var(--lightgreen);
  border: #222 1px solid;
  border-left: 0;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  opacity: 0.9;
  right:  calc(var(--btn-width) * -1);
  right:  calc(var(--btn-width) * -1);
  right:  calc(var(--btn-width) * -1);
}

.home .sidebar .sidebar-fixed-wrapper .sidebar-toggle-button:hover {
}

.home .sidebar .sidebar-fixed-wrapper .sidebar-toggle-button svg {
  width: 15px;
  fill: white;
}

.filters {
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  margin-bottom: 25px;
  gap: 15px;
  padding-bottom: 30px;
  z-index: 3;
  position: relative;
}

.filters .apply-and-reset {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.filters .apply-and-reset .apply-button {
  background-color: var(--lightgreen);
  padding: 7px 15px;
  align-self: flex-start;
  border-radius: 3px;
  font-size: 1rem;
  color: #212529;
  border: 1px solid transparent;
  cursor: pointer;
  transition: 0.1s ease filter;
  width: 100%;
  color: white;
  text-shadow: 1px 1px 3px #21252953;
  font-weight: 600;
  transition: color 0.1s ease, background-color 0.1s ease;
  /* position: absolute; */
}

.filters .apply-and-reset .apply-button:disabled {
  color: grey;
  background-color: #444;
  cursor: not-allowed;
}

.filters .apply-and-reset .apply-button:not(:disabled):hover {
  filter: brightness(1.1);
}

.filters .apply-and-reset .close-sidebar-button {
  align-self: flex-start;
  fill: white;
  cursor: pointer;
  display: flex;
  font-size: 1rem;
  color: white;
  /* background-color: #444; */
  /* border: 1px solid grey; */
  border: 0;
  background-color: transparent;
  border-radius: 3px;
  /* padding: 7px 15px; */
  cursor: pointer;
  transition: 0.1s ease background-color;
}

.home .close-sidebar-button:hover svg {
  /* background-color: #6f6f6f; */
  fill: var(--yellow);
}

.home .close-sidebar-button svg {
  width: 25px;
}

.filters .apply-and-reset .reset-button {
  background-color: transparent;
  border: 0;
  padding: 0;
  display: flex;
  align-self: center;
  align-items: center;
  gap: 10px;
  font-size: 0.875rem;
  cursor: pointer;
}

.filters .apply-and-reset .reset-button:hover {
  text-decoration: underline;
}

.filters .apply-and-reset .reset-button:disabled {
  cursor: not-allowed;
}

.filters .apply-and-reset .reset-button svg {
  width: 25px;
  fill: white;
}

.filters .apply-and-reset .reset-button:disabled svg {
  fill: grey;
}

.filters .apply-and-reset .reset-button:not(:disabled):hover svg {
  fill: var(--yellow);
}

.filters > .filter-items {
  display: flex;
  flex-direction: column;
}

.filters > .filter-items .filter-item {
  border-top: 1px solid #555;
  display: flex;
  flex-direction: column;

  padding: 15px 0;
  gap: 2px;
}

.filters > .filter-items .filter-item .label-and-reset {
  display: flex;
  justify-content: flex-start;
  gap: 8px;
  font-size: 0.875rem;
}

.filters > .filter-items .filter-item .label-and-reset button {
  background-color: transparent;
  padding: 0;
  color: plum;
  font-size: 0.875rem;
  border: 0;
  display: flex;
  cursor: pointer;
  align-self: center;
}

.filters > .filter-items .filter-item .label-and-reset button:hover {
  text-decoration: underline;
}

.filters > .filter-items .filter-item .select-category-modal-toggle {
  justify-content: space-between;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  /* width: 200px; */
}

.filters > .filter-items .filter-item .select-category-modal-toggle .current-category {
  width: 100%;
  text-align: start;
  text-overflow: ellipsis;
  overflow: hidden;
}

.filters > .filter-items .filter-item .select-category-modal-toggle svg {
  width: 15px;
  min-width: 15px;
}

.filters > .filter-items .filter-item.disabled label {
  color: grey;
}

.filters > .filter-items .filter-item.disabled input {
  border-color: grey;
  color: grey;
}

.filters > .filter-items .filter-item > label {
  font-size: 1rem;
  font-weight: 600;
}

.filters > .filter-items .filter-item .min-max-price-inputs {
  display: flex;
  gap: 10px;
  /* flex-direction: column; */
}

.filters > .filter-items .filter-item .min-max-price-inputs .min-max-input-container {
  display: flex;
  flex-direction: column;
  font-size: 0.875rem;
}

/* .home
  .filters
  > .filter-items
  .filter-item
  > .checkbox-options
  > .checkbox-option
  > label {
  font-size: 0.875rem;
  cursor: pointer;
}

.filters > .filter-items .filter-item > .checkbox-options > .checkbox-option {
  display: flex;
  gap: 5px;
  font-size: 0.875rem;
  cursor: pointer !important;
}

.filters > .filter-items .filter-item > .checkbox-options > .checkbox-option:hover {
  border-color: #aaa;
} */

.filters > .filter-items .filter-item select {
  max-width: 100%;
}

.filters > .filter-items .filter-item select:not(:disabled) {
  cursor: pointer;
}

.filters > .filter-items .filter-item select:not(:disabled):hover {
  background-color: #4f4f4f;
}

.filters > .filter-items .filter-item input[type="text"],
.filters > .filter-items .filter-item input[type="number"],
.filters > .filter-items .filter-item select {
  padding: 3px 5px;
  border-radius: 3px;
  border: 1px solid #555;
  background-color: #444;
  font-size: 1rem;
  color: white;
}

.filters > .filter-items .filter-item.disabled select {
  color: grey;
}

.filters > .filter-items .filter-item .min-max-input-container {
  width: 100%;
  overflow: hidden;
}

.filters > .filter-items .filter-item .min-max-input-container input {
  max-width: 100px;
}

/* .filters > .filter-items  .filter-item .min-max-input-container input.error {
  border-color: #ff607d;
  background-color: #3B3B3B;
  outline-color: blue;
} */

.filters > .filter-items .filter-item .min-max-input-container input:focus,
.filters > .filter-items .filter-item .min-max-input-container input:active {
  outline: green;
}

/* .filters > .filter-items .filter-item > .checkbox-options {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.filters > .filter-items .filter-item > .checkbox-options > .checkbox-option {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  white-space: nowrap;
  gap: 5px; 
  padding: 3px 5px 3px 3px;
  border-radius: 2px;
  cursor: pointer;
}

.home
  .filters
  > .filter-items
  .filter-item
  > .checkbox-options
  > .checkbox-option.checked
  label {
  background-color: #3b3b3b;
  border: 1px solid grey;
} */

.filters .filter-warning {
  font-size: 0.875rem;
  color: var(--red);
}

@media screen and (max-device-width: 480px) {
  .home .sidebar .sidebar-fixed-wrapper {
  }
  .home .sidebar .sidebar-fixed-wrapper .sidebar-toggle-button {
    margin-top: 100px;
  }
}
