.edit-item.modal {
  position: fixed;
  z-index: 6;
  top: 30px;
  transform: translateX(-50%);
  left: 50%;
  padding: 0;
  max-height: calc(100% - 60px);
  overflow-y: auto;
  max-width: 600px;
}

.modal.category-selector-modal.category-selector-modal {
  z-index: 7 !important;
}

.edit-item.modal .header {
  border-bottom: 1px solid #555;
  padding: 10px;
}

.edit-item form {
  display: flex;
  flex-direction: column;
  gap: 30px;
  max-width: 600px;
  width: 100%;
  padding: 10px;
}

.edit-item form .form-block {
  background-color: #444;
  padding: 10px;
  border-radius: 3px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.edit-item form .form-block .image-input-and-prompt {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 5px;
}

.edit-item form .form-block .reset-images-button {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  margin-top: -10px;
  align-self: flex-start;
  border: 1px solid grey;
  padding: 3px 5px;
  background-color: #4f4f4f;
  color: white;
  border-radius: 2px;
  cursor: pointer;
  font-size: 1rem;
}

.edit-item form .form-block .reset-images-button svg {
  width: 15px;
  fill: var(--red);
  /* fill: white; */
}

.images-uploading {
  font-size: 0.875rem;
}

.image-skeletons {
  display: flex;
}

.edit-item form fieldset {
  border: 0;
  display: flex;
  justify-content: space-between;
  gap: 15px;
}

.edit-item form fieldset.prices {
}

.edit-item form fieldset.prices .input-container {
  width: 100%;
  position: relative;
}

.edit-item form fieldset.prices .input-container::before {
  content: "$";
  position: absolute;
  left: 10px;
  top: 0;
  z-index: 2;
  color: grey;
  transform: translateY(-50%);
  top: 50%;
  border-right: 1px solid grey;
  padding-right: 10px;
  height: calc(100% - 2px);
  font-size: 1rem;
  display: flex;
  align-items: center;
}

.edit-item form fieldset.prices .input-container input {
  padding-left: 37px !important;
  position: relative;
}

.edit-item form .form-group {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 3px;
  width: 100%;
  gap: 3px;
}

.edit-item form .form-group:first-child {
  flex-grow: 0;
}

.edit-item form .form-group label {
  display: flex;
  gap: 5px;
  white-space: wrap;
}

.edit-item form .form-group label .question-number {
  border-radius: 50%;
  font-weight: 500;
  /* width: 20px;
  min-width: 20px;
  height: 20px; */
  align-self: flex-start;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.7rem;
}

.edit-item form .auto-completed-span {
  /* background-color: var(--yellow); */
  display: flex;
  align-items: center;
  /* align-self: flex-start; */
  margin-left: 5px;
  cursor: help;
}

.edit-item form .auto-completed-span.legend {
  align-self: flex-start;
}

.edit-item form .auto-completed-span svg {
  fill: grey;
  width: 12px;
}

/* .edit-item form .form-group .price-and-shipping-input {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 3px;
}

.edit-item form .form-group .price-and-shipping-input p {
  white-space: nowrap;
}

.edit-item form .form-group .price-and-shipping-input input {
  max-width: 100px;
  min-width: 100px;
  background-color: blue;
} */

.edit-item form .custom-photo-upload,
.images-uploading {
  height: 60px;
  border: 1px solid grey;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 3px 5px;
  cursor: pointer;
  border-radius: 3px;
  /* height: 100%; */
  background-color: #4f4f4f;
  width: 100%;
  /* background-color: var(--lightgreen);
  padding: 3px 5px;
  border-radius: 3px;
  font-size: 0.875rem;
  color: #212529;
  border: 1px solid transparent;
  cursor: pointer;
  transition: 0.1s ease filter;
  color: white;
  text-shadow: 1px 1px 3px #21252963;
  font-weight: 600;
  transition: color 0.1s ease, background-color 0.1s ease; */
  /* position: absolute; */
}

.edit-item form .custom-photo-upload p:first-child {
  font-size: 1.25rem;
  font-weight: 600;
}

.edit-item form .custom-photo-upload input[type="file"] {
  display: none;
}

.edit-item form .custom-photo-upload.secondary {
  background-color: #4f4f4f;
  padding: 0;
  font-weight: 500;
}

.edit-item form .custom-photo-upload.secondary:hover {
  text-decoration: underline;
}

.edit-item form .custom-photo-upload.dragging {
  border-color: #666;
}

.edit-item form .form-group.year,
.edit-item form .form-group.price {
  max-width: 100px;
}

.edit-item form .form-group.shipping {
  /* max-width: 300px; */
}

.edit-item form .form-group.shipping button {
  gap: 15px;
}

.edit-item form .form-group.shipping button svg {
  width: 14px;
  fill: lightgrey;
}

.edit-item form .form-group.shipping button svg.checked {
  fill: var(--lightgreen);
}

.edit-item form .form-group.price input,
.edit-item form .form-group.shipping input {
  position: relative;
}

.edit-item form .form-group.price input::before,
.edit-item form .form-group.shipping input::before {
  content: "$";
  z-index: 2;
  color: green;
  position: absolute;
  top: 0;
  left: 0;
}

.edit-item form .form-group.price input::before {
  content: "$";
  position: absolute;
  top: 0;
  left: 0;
}

.edit-item form .form-group.disabled {
  cursor: not-allowed;
}

.edit-item form .form-group.disabled label {
  color: grey;
}

.edit-item form .form-group.shipping {
  display: flex;
}

.edit-item form .form-group.shipping .shipping-selector-and-input {
  display: flex;
  gap: 5px;
  width: 100%;
}
.edit-item form .form-group.shipping .shipping-selector-and-input .shipping-selector {
  display: flex;
  width: 100%;
  max-width: 350px;
}

.edit-item form .form-group.shipping .shipping-selector-and-input .shipping-selector {
  max-width: 500px !;
  width: 100%;
}

.edit-item form
  .form-group.shipping
  .shipping-selector-and-input
  .shipping-selector
  .shipping-toggle-button {
  white-space: nowrap;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  white-space: nowrap;
  color: white;
  gap: 10px;
  background-color: #4f4f4f;
  border: 1px solid grey;
  padding: 5px 10px;
  font-size: 1rem;
  border-radius: 3px;
  cursor: pointer;
}

.edit-item form .form-group.shipping .shipping-selector .shipping-toggle-button.selected {
  border-color: var(--lightgreen);
  color: var(--lightgreen);
}

.edit-item
  form
  .form-group.shipping
  .shipping-selector
  .shipping-toggle-button:first-child {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.edit-item
  form
  .form-group.shipping
  .shipping-selector
  .shipping-toggle-button:last-child {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.edit-item form .form-group.shipping .shipping-selector-and-input input {
  max-width: 100px;
}

.edit-item form .form-group.shipping .shipping-selector-and-input input:disabled {
  border-color: #4f4f4f;
  color: #6f6f6f;
}

.edit-item
  form
  .form-group.shipping
  .shipping-selector-and-input
  input:disabled::placeholder {
  color: #4f4f4f;
  opacity: 1; /* Firefox */
}

.edit-item form
  .form-group.shipping
  .shipping-selector-and-input
  input:disabled::-ms-input-placeholder {
  /* Edge 12 -18 */
  color: #4f4f4f;
}

.edit-item form .what-the-buyer-sees {
  padding: 5px 10px;
  background-color: #555;
  border: 1px solid #666;
  border-radius: 3px;
}

.edit-item form .what-the-buyer-sees p:first-child {
  font-weight: 500;
  font-style: italic;
}

.edit-item form .form-group .radio-options {
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 100%;
}

.edit-item form .form-group .radio-options .radio-option {
  width: 100%;
}

/* .edit-item form .form-group .radio-options .radio-option label,
.edit-item form .custom-photo-upload.secondary {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  white-space: nowrap;
  gap: 5px;
  background-color: #4f4f4f;
  border: 1px solid grey;
  padding: 3px 5px 3px 3px;
  border-radius: 2px;
  cursor: pointer;
}

.edit-item form .form-group .radio-options .radio-option label:hover {
  border-color: #666;
} */

.edit-item form .custom-photo-upload.secondary {
  align-self: flex-start;
  width: auto;
  padding: 1px 5px 1px 5px;
}

.edit-item form .form-group .toggle-button {
  padding: 3px 5px;
  font-size: 1rem;
  border: 1px solid transparent;
  cursor: pointer;
  transition: 0;
}

.edit-item form .form-group .toggle-button.activated {
  border: 1px solid var(--lightgreen);
}

.edit-item form label {
  font-size: 0.875rem;
  white-space: nowrap;
}

.edit-item form .form-group textarea {
  --padding: 10px;
  min-height: 150px;
  min-height: calc(5lh + 2 * var(--padding));
  /* max-height: calc(5lh + 2 * var(--padding)); */
  max-height: calc(10lh + 2 * var(--padding));
  /* field-sizing: content; */
  line-height: 1.5;
  padding-inline: calc(var(--padding) + calc(1lh + 1ex) / 2);
}

.edit-item form .form-group input:not([type="radio"]):not([type="file"]),
.edit-item form .form-group textarea,
.edit-item form .form-group select {
  width: 100%;
  padding: 5px 10px;
  font-family: inherit;
  font-size: 1rem;
  background-color: #3b3b3b;
  border: 1px solid #555;
  color: white;
  border-radius: 3px;
  /* transition: border-color 0.025s cubic-bezier(0.25, 0.1, 0.25, 1); */
}

.edit-item form .form-group.disabled input:not([type="radio"]):not([type="file"]) {
  color: grey;
  cursor: not-allowed;
}

.edit-item
  form
  .form-group
  input:not([type="radio"]):not([type="file"]):not(:disabled):hover,
.edit-item form .form-group textarea:not(:disabled):hover,
.edit-item form .form-group select:not(:disabled):hover,
.edit-item form .custom-photo-upload:not(:disabled):hover,
.edit-item form .form-block .reset-images-button:not(:disabled):hover,
.edit-item form
  .form-group.shipping
  .shipping-selector
  .shipping-toggle-button:not(.selected):hover {
  border-color: #666;
}

.edit-item form .form-group select:not(:disabled) {
  cursor: pointer;
}

.edit-item form .form-group input[type="file"] {
  width: 100%;
  font-family: inherit;
  font-size: 1rem;
  /* background-color: #3B3B3B; */
  /* border: 1px solid grey; */
  border-radius: 3px;
}

.edit-item form .form-group input[type="file"] {
  padding: 0;
}

.edit-item form .form-group select {
  position: pointer;
}

.edit-item form .form-group select {
  /* background-image: url("src/components/ui/Icons/Arrow.svg"); */
  background-repeat: no-repeat;
  background-position: 98% center;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.edit-item form .submit-container {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.edit-item form .submit-container .warning {
  font-size: 0.875rem;
  color: var(--red);
}

.edit-item form button[type="submit"] {
  background-color: var(--lightgreen);
  padding: 7px 15px;
  align-self: flex-start;
  border-radius: 3px;
  font-size: 1rem;
  color: white;
  font-weight: 600;
  border: 1px solid transparent;
  cursor: pointer;
  transition: 0.1s ease filter;
  text-shadow: 1px 1px 3px #21252963;
}

.edit-item form button[type="submit"]:not(:disabled):hover {
  filter: brightness(1.1);
}

.edit-item form button[type="submit"]:disabled {
  color: grey;
  background-color: #444;
  cursor: not-allowed;
}

.edit-item form .selling-item-images,
.image-skeletons {
  display: flex;
  flex-direction: row;
  gap: 3px;
  flex-wrap: wrap;
  flex-grow: 0;
}

.edit-item form .selling-item-images .image-container,
.edit-item form .image-skeletons .image-skeleton {
  height: 75px;
  width: 75px;
  border: 2px solid transparent;
  transition: 0.05s ease border;
  border-radius: 5px;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  background-color: #666;
}

.edit-item form .image-skeletons .image-skeleton {
  animation: brightenAnimation 0.5s infinite alternate;
}

@keyframes brightenAnimation {
  0% {
    filter: brightness(1); /* Original brightness */
  }
  100% {
    filter: brightness(1.5); /* Brighter */
  }
}

.edit-item form .selling-item-images .image-container.cover {
  border: 2px solid var(--lightgreen);
}

.edit-item form .selling-item-images .image-container svg {
  width: 15px;
  position: absolute;
  top: 2px;
  right: 2px;
  cursor: help !important;
  fill: var(--lightgreen);
  z-index: 3;
  /* fill: none; */
  stroke: #646464;
  stroke-width: 1px;
  stroke-dasharray: 2, 2;
  stroke-linejoin: round;

  filter: drop-shadow(0px 0px 5px black);
  /* drop-shadow(2px -1px 0px #3e68ff) 
    drop-shadow(2px 2px 0px #3e68ff)
    drop-shadow(-1px 2px 0px #3e68ff) */
}

.edit-item form .selling-item-images .image-container img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.edit-item form .selling-item-images .image-container .image-overlay {
  position: absolute;
  inset: 0;
  opacity: 0;
  visibility: hidden;
  z-index: 2;
}

.edit-item form .selling-item-images .image-container:hover .image-overlay {
  opacity: 1;
  visibility: visible;
}

.edit-item form .selling-item-images .image-container .buttons {
  position: absolute;
  bottom: 2px;
  left: 2px;
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.edit-item form .selling-item-images .image-container button {
  border: 1px solid grey;
  border-radius: 2px;
  padding: 1px 4px;
}

.edit-item form .selling-item-images .image-container .delete-button:hover {
  border-color: #666;
  cursor: pointer;
}

.edit-item form .selling-item-images .image-container .cover-button:hover {
  border-color: #666;
  cursor: pointer;
}

/* * Controls */
.modal.edit-item .controls {
  position: sticky;
  bottom: 0;
  left: 0;
  background-color: #444;
  width: 100%;
  border-top: #555 1px solid;
  padding: 10px;
}

@media screen and (max-width: 610px) {
}

@media screen and (max-width: 400px) {
  .edit-item form .form-block {
    /* gap: 10px; */
  }

  .edit-item form .form-block fieldset {
    gap: 15px;
  }

  .edit-item form .shipping-selector {
    flex-direction: column;
  }

  .edit-item form .shipping-selector-and-input,
  .edit-item form .shipping-selector-and-input .shipping-selector {
    width: 100%;
  }

  .edit-item form .form-group.price {
    max-width: 75px;
  }

  .edit-item
    form
    .form-group.shipping
    .shipping-selector
    .shipping-toggle-button:first-child {
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }

  .edit-item
    form
    .form-group.shipping
    .shipping-selector
    .shipping-toggle-button:last-child {
    border-top-right-radius: 0;
    border-top-left-radius: 0;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
  }
}

.edit-item form .select-category-modal-toggle {
  justify-content: space-between;
  width: 100%;
  padding: 5px 10px;
  background-color: #3b3b3b;
}

.edit-item form .select-category-modal-toggle:hover {
  background-color: #3f3f3f;
  border: 1px solid #666;
}
