/* Defaults stripped */
svg.spinner {
  fill: white;
  animation: rotate 0.85s infinite linear !important;
  width: 20px;
  transform-origin: left;
}

@keyframes rotate {
  from {
    transform: rotate(0deg) translateX(-50%);
  }
  to {
    transform: rotate(360deg) translateX(-50%);;
  }
}
