.spinner-container {
  padding: 10px;
  border-radius: 50%;
  background-color: #444;
  aspect-ratio: 1/1;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid grey;
}

.spinner-container.defaults-stripped {
  padding: 0 !important;
  border: 0;
  padding: 0;
  background-color: transparent;
}

.spinner-container svg {
  animation: rotate 0.85s infinite linear;
  transform-origin: center;
  width: 20px;
  fill: white;
}

/* Defaults stripped */
svg.defaults-stripped {
  animation: rotate 0.85s infinite linear;
  transform-origin: center;
  width: 20px;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
