.item .comments-section {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-top: 50px;
  padding: 10px;
  background-color: #333;
  border-radius: 5px;
  border: 1px solid #555;
}

.item .comments-section .login-or-signup {
  border: 1px solid #444;
  padding: 5px 10px;
  border-radius: 3px;
}

.item .comments-section .comment-form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  width: 100%;
  /* background-color: #333; */
  /* border: 1px solid #444; */
  /* padding: 10px; */
  border-radius: 5px;
}

.item .comments-section .comments-list.is-root-level {
  /* margin-top: 30px; */

}

.item .comments-section .comment-form button[type="submit"]:not(:disabled) {
  cursor: pointer;
}

.item .comments-section .comment-form button[type="submit"]:disabled {
  fill: grey !important;
}

.item .comments-section h3 {
  margin-bottom: 10px;
}

.item .comments-section .no-comments-container {
  font-size: 0.875rem;
  /* padding: 10px; */
  border-radius: 3px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 5px;
  position: relative;
  margin-top: 20px;
  padding: 10px;
}

.item .comments-section .no-comments-container p:nth-child(2) {
  font-size: 1.15rem;
  font-weight: 500;
}

.item .comments-section .no-comments-container svg {
  width: 35px;
  fill: white;
  cursor: help;
  position: relative;
}

.item .comments-section .no-comments-container .frog-icon-container {
  position: relative;
}

.item .comments-section .no-comments-container .frog-icon-container:hover::before {
  content: "Hey, how's it going";
  white-space: nowrap;
  position: absolute;
  font-size: 0.875rem;
  background-color: white;
  color: black;
  padding: 5px 10px 5px 30px;
  border-top-left-radius: 50%;
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
  /* border-radius: 3px; */
  top: 0;
  left: calc(100% + 5px);
  /* width: 25px;
  height: 25px; */
  z-index: 1000;
}

.item .comments-section .no-comments-container svg::before {
}
