.footer {
  /* padding: 5px 10px; */
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  font-weight: 500;
  /* border: #444 1px solid; */
  /* background-color: #2f2f2f; */
  border-radius: 3px;
  padding-top: 30px;
  padding-bottom: 30px
  /* background-color: var(--bg-primary); */

}
