.stars {
  display: flex;
  margin-left: -3px;
}

.stars .star-container {
  padding: 3px;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.stars .star-container svg {
  width: 14px;
  fill: yellow;
}
