.item {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-bottom: 50px;
  max-width: 650px;
  margin: 0 auto;
  width: 100%;
  margin-top: 30px;
}

.item .seller-controls {
  display: flex;
  flex-direction: column;
}

.item .seller-controls > p {
  font-size: 0.875rem;
  margin-bottom: 3px;
}

.item .seller-controls .seller-buttons {
  display: flex;
  gap: 10px;
}

.item .seller-controls .seller-buttons button {
  cursor: pointer;
}

.item h1 {
  font-size: 1.5rem;
}

.item-images {
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 100%;
  height: 350px;
  max-height: 350px;
  /* max-width: 400px; */
  /* min-width: 350px; */
}

.main-image-parent {
  height: 100%;
  background-color: black;
  object-fit: contain;
  flex-grow: 1;
  overflow: hidden;
  border-radius: 3px;
}

.item-main-image {
  border-radius: 3px;
  width: 100%;
  height: 100%;
  max-height: 350px;
  object-fit: contain;
  overflow: hidden;
}

.main-image-placeholder {
  background-color: lightgrey;
}

.item-thumbnails {
  display: flex;
  flex-direction: row;
  gap: 3px;
  flex-wrap: wrap;
  flex-grow: 0;
}

.item-thumbnail-image {
  height: 50px;
  width: 50px;
  /* height: calc(20% - 3px); */
  /* width: 20px; */
  cursor: pointer;
  border: 1px solid transparent;
  transition: 0.05s ease border;
  border-radius: 3px;
  /* aspect-ratio: 1/1; */
  background-size: cover;
  object-fit: cover;
}

.item-thumbnail-image:hover,
.item-thumbnail-image.selected {
  border: 1px solid #4ad493;
}

.item input,
.item textarea,
.item button,
.item select {
  border-radius: 3px;
  border: 1px solid grey;
  padding: 3px 5px;
  background-color: #3b3b3b;
}

.item .comment-form button {
  background-color: transparent;
  padding: 0;
  border: 0;
  font-weight: 600;
  font-size: 0.875rem;
  display: flex;
  gap: 5px;
  align-items: center;
}

.item .comment-form button svg {
  width: 14px;
}

.item .comment-form button:not(:disabled) svg {
  fill: white;
}

.item .details,
.item .seller-info {
  border-top: 1px solid #333;
  padding-top: 20px;
  white-space: pre-wrap;
}

/* Deleted modal */
.item .deleted-modal {
  z-index: 2;
  background-color: #333;
  position: fixed;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  padding: 10px;
  border-radius: 3px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  border: 1px solid #aaa;
  max-width: 400px;
}

.item .deleted-modal .links {
  display: flex;
  flex-direction: column;
}

/* Content section */
.item .content {
  display: flex;
  gap: 15px;
  justify-content: flex-start;
  flex-direction: column;
  padding-bottom: 50px;
  min-height: 350px;
  overflow: hidden;
  background-color: #444;
  padding: 10px;
  border-radius: 5px;
}

.item .content .images-and-info {
  display: flex;
  /* flex-direction: row; */
  flex-direction: column;
  gap: 20px;
  /* margin-bottom: 50px; */
}

.item .content .horizontal-divider.extra-top-margin {
  margin-top: 15px;
}

.item .content .primary-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  /* padding-bottom: 20px; */
}

/* .item .content .price-change-modal-toggle {
  display: flex;
  align-items: center;
  color: white;
  padding: 5px 10px;
  border-radius: 3px;
  border: 1px;
  font-size: 1rem;
} */

.item .content .status-as-of {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

.item .content .status-as-of svg {
  width: 15px;
}

.item .content .status-as-of.available svg {
  fill: var(--lightgreen);
}

.item .content .status-as-of.sold svg {
  fill: var(--red);
}

.item .content .price-and-toggle {
  display: flex;
  gap: 10px;
}
/* .item .content .price-change-display {
  display: flex;
  gap: 5px;

  border-radius: 5px;
  margin-left: 10px;
} */

.item .content .price-change-display svg {
  width: 12px;
}

.item .content .price-change-display.down {
  color: var(--lightgreen);
  fill: var(--lightgreen);
}

.item .content .price-change-display.up {
  color: var(--red);
  fill: var(--red);
}

.item .content table.metadata {
  border-collapse: collapse;
  border-spacing: 0;
  /* margin: 15px 0 0 0; */
  padding: 0;
  width: 100%;
}

.item .content table.metadata tr td {
  padding: 3px 5px;
}

/* first row, first column */
.item .content table.metadata tr:first-child td:first-child {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

/* last row, first column */
.item .content table.metadata tr:last-child td:first-child {
  /* border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px; */
}

/* all rows besides last one */
.item .content table.metadata tr:not(:last-child) td {
  border-bottom: 1px solid #555;
}

/* all rows, first column */
.item .content table.metadata tr td:first-child {
  max-width: 150px;
  width: 100px;
  /* border-right: 1px solid #666; */
  background-color: #666;
  color: white;
  padding-right: 15px;
  /* border-bottom: #666 1px solid; */
}

.item .content table.metadata tr td:nth-child(2) {
  padding-left: 15px;
}

.item .content .vertical-divider {
  height: 1rem;
  width: 1px;
  background-color: #4ad493;
}

.item .content .price-and-condition .price {
  background-color: var(--bg-primary);
}

.item .content .seller-is-item {
  display: flex;
  align-items: center;
  gap: 10px;
}

.item .content .no-details-warning {
  /* border: 1px solid grey; */
  padding-left: 10px;
  /* border-radius: 3px; */
  max-width: 300px;
  border-left: var(--yellow) 2px solid;
}

/* No details were provided */
.item .content .no-details-warning p:first-child {
  font-size: 1rem;
  /* border-left: 3px solid var(--yellow); */
  /* padding-left: 5px; */
  font-weight: 500;
}

/* No details Advice */
.item .content .no-details-warning p:nth-child(2) {
  font-size: 0.875rem;
}

.item .content .seller-info-container {
  /* border: 1px solid #4ad493;
  border-radius: 3px;
  padding: 5px 10px; */
}

.item .content .seller-info-container .seller-info {
  display: flex;
  /* border: 1px solid var(--lightgreen); */
  border-radius: 5px;
  padding: 20px 15px 5px 5px;
  font-size: 0.875rem;
}

.item .content .seller-info-container .seller-info .user-link {
  display: block;
}

.item .content .seller-info-container .profile-picture-container {
  margin-right: 10px;
  margin-top: 3px;
}

.item .content .seller-info-container .profile-picture-container .profile-picture {
  background-color: #666;
  border-radius: 100px;
  width: 30px;
  height: 30px;
  object-fit: cover;
}

.item .content .seller-info-container .heading {
  font-weight: 600;
  text-decoration: underline;
}

@media screen and (max-width: 600px) {
  .item .content {
    flex-direction: column;
  }

  .item .content .images-and-info {
    flex-direction: column;
    max-width: none;
  }

  .item .content > .images-and-info > .item-images {
    width: 100%;
    max-width: none;
  }

  .item .content > .images-and-info > .item-images > .main-image-parent {
    width: 100%;
    max-width: none;
  }
}
