main.item {
  display: flex;
  flex-direction: column;
  padding: 15px;
  padding-top: 65px;
  max-width: 1265px; /* same as stack overflow */
  margin: 0 auto;

  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-bottom: 100px;
  max-width: 900px;
  margin: 15px auto 0 auto;
  width: 100%;
  --drop-shadow: drop-shadow(3px 3px 2px rgba(0, 0, 0, 0.1));
}

main.item .seller-controls {
  display: flex;
  flex-direction: column;
}

main.item h1 {
  font-size: 1.5rem;
  margin-right: 35px;
}

main.item .images-and-content .content .header-buttons button {
}

main.item textarea {
  border-radius: 10px;
  border: 1px solid #555;
  padding: 10px;
  background-color: transparent;
  box-shadow: 1px 1px 5px #22222250;
}

main.item .heading {
  font-weight: 600;
  text-decoration: underline;
}

main.item .details {
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  font-size: 0.875rem;
  position: relative;
  white-space: pre-wrap;
}

main.item .details label {
  font-size: 0.875rem;
  font-weight: 600;
}
main.item .details p {
  font-size: 0.875rem;
}

main.item .details::before {
  /* content: ""; */
  position: absolute;
  left: 0;
  bottom: calc(100% + 1px);
  left: 5px;
  width: 2px;
  height: 20px;
  background-color: #444;
  /* filter: var(--drop-shadow); */
}

main.item .details::after {
  /* content: ""; */
  position: absolute;
  bottom: calc(100% + 1px);
  left: 15px;
  width: 2px;
  height: 20px;
  background-color: #444;
  /* filter: var(--drop-shadow); */
}

main.item .images-and-content {
  display: flex;
  gap: 15px;
}

/* Content section */
main.item .images-and-content .content {
  display: flex;
  width: 100%;
  gap: 5px;
  justify-content: flex-start;
  flex-direction: column;
  /* padding-bottom: 50px; */
  min-height: 350px;
  overflow: hidden;
  /* background-color: #444;
  border: 1px solid #555; */
  /* padding: 10px; */

  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
}

main.item .images-and-content .content .header-buttons {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  justify-content: flex-end;
}

main.item .images-and-content .content .header-buttons button {
  white-space: nowrap;
  display: flex;
  align-items: center;
  gap: 5px;
  cursor: pointer;
  border-radius: 5px;
  color: white;
  overflow: hidden;
  font-size: 0.875rem;

  border-radius: 3px;
  border: 1px solid #555;
  padding: 3px 5px;
  background-color: #2f2f2f;
}

main.item .images-and-content .content .header-buttons button:not(:disabled):hover {
  background-color: #3b3b3b;
}

main.item .images-and-content .content .header-buttons button.three-dots {
  background-color: transparent;
  padding: 0;
  border: 0;
}

main.item .images-and-content .content .header-buttons button svg {
  width: 10px;
  fill: white;
}

main.item .images-and-content .content .header-buttons button.three-dots svg {
  width: 15px;
}

main.item .images-and-content .content .info {
  display: flex;
  flex-direction: column;
  gap: 25px;
  padding: 10px;
  background-color: #2f2f2f;
  border: 1px solid #444;
  border-radius: 5px;
}

main.item .images-and-content .content .info-and-contact {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 25px;
  flex-wrap: wrap;
  /* margin-top: 30px; */
  position: relative;
}

main.item .images-and-content .content .info-and-contact .top-right {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 5px;
  width: fit-content;
}

main.item .images-and-content .content .info-and-contact .edit-item-menu-toggle {
  background-color: transparent;
  border: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 2;
  cursor: pointer;
}

main.item .images-and-content .content .info-and-contact .edit-item-menu-toggle svg {
  width: 25px;
  fill: white;
}

main.item
  .images-and-content
  .content
  .info-and-contact
  .edit-item-menu-toggle
  svg:hover {
  fill: var(--yellow);
}

main.item .images-and-content .content .info .contact-options {
  display: flex;
  flex-direction: column;
  gap: 5px;
  /* border: 1px solid #444; */
  /* padding: 5px 10px; */
  border-radius: 3px;
  text-overflow: ellipsis;
  /* width: 100%; */
  align-self: flex-end;
  /* padding-right: 43px; */
  width: fit-content;
  /* margin-top: 43px; */
}

main.item .images-and-content .content .info .contact-options button {
  cursor: pointer;
  font-size: 1rem;
  background-color: #333;
  display: flex;
  align-items: center;
  gap: 5px;
  /* background-color: var(--lightgreen); */
  /* border: 1px solid #555; */
}

main.item .images-and-content .content .info .contact-options button svg {
  fill: white;
  width: 14px;
}

main.item .images-and-content .content .horizontal-divider.extra-top-margin {
  margin-top: 15px;
}

main.item .images-and-content .content .primary-info-and-votes {
  display: flex;
  gap: 10px;
}

main.item .images-and-content .content .primary-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  /* padding-bottom: 20px; */
  position: relative;
  gap: 5px;
  min-width: 200px;
  width: fit-content;
}

main.item .images-and-content .content .price-change-modal-toggle,
main.item .images-and-content .content .status-as-of-container button {
  font-size: 0.875rem;
  white-space: nowrap;
  height: 1.5rem;
  cursor: pointer;
  color: white;
}

main.item .images-and-content .content .price-change-modal-toggle:hover,
main.item .images-and-content .content .status-as-of-container button:hover {
  background-color: #3b3b3b;
}

main.item .images-and-content .content .status-as-of-container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

main.item .images-and-content .content .status-as-of-container .status-change-button {
  color: white;
  font-size: 0.875rem;
}

main.item .images-and-content .content .status-as-of {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  font-size: 0.875rem;
  /* border: 1px solid #444; */
  /* padding: 1px 5px; */
  border-radius: 3px;
  background-color: #2f2f2f;
}

main.item .images-and-content .content .status-as-of svg {
  width: 100%;
  width: 15px;
}

main.item .images-and-content .content .status-as-of.green svg {
  fill: var(--lightgreen);
}

main.item .images-and-content .content .status-as-of.red svg {
  fill: var(--red);
}

main.item .images-and-content .content .status-as-of.yellow svg {
  fill: var(--yellow);
}

main.item .images-and-content .content .status-as-of.grey svg {
  fill: grey;
}


main.item .images-and-content .content .price-and-toggle {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
}

main.item .images-and-content .content .price-and-toggle p:first-child {
  margin-right: 5px;
}
/* main.item .images-and-content .content .price-change-display {
  display: flex;
  gap: 5px;

  border-radius: 5px;
  margin-left: 10px;
} */

main.item .images-and-content .content .price-change-display svg {
  width: 12px;
}

main.item .images-and-content .content .price-change-display.down {
  color: var(--lightgreen);
  fill: var(--lightgreen);
}

main.item .images-and-content .content .price-change-display.up {
  color: var(--red);
  fill: var(--red);
}

main.item .metadata-table-and-label {
  display: flex;
  flex-direction: column;
}

main.item .metadata-table-and-label label {
  font-size: 0.875rem;
  font-weight: 500;
}

main.item .images-and-content .content .vertical-divider {
  height: 1rem;
  width: 1px;
  background-color: #4ad493;
}

main.item .images-and-content .content .price-and-condition .price {
  background-color: var(--bg-primary);
}

main.item .images-and-content .content .seller-is-item {
  display: flex;
  align-items: center;
  gap: 10px;
}

main.item .images-and-content .content .no-details-warning {
  /* border: 1px solid grey; */
  /* border-radius: 3px; */
  /* max-width: 375px; */
  border: var(--yellow) 2px solid;
  background-color: #2f2f2f;
  border: #444 1px solid;
  border-radius: 3px;
  padding: 7px;
  position: relative;
  filter: var(--drop-shadow);
}

main.item .images-and-content .content .no-details-warning::before {
  /* content: ""; */
  position: absolute;
  bottom: calc(100% + 1px);
  left: 5px;
  width: 2px;
  height: 20px;
  background-color: #444;
  /* filter: var(--drop-shadow); */
}

main.item .images-and-content .content .no-details-warning::after {
  /* content: ""; */
  position: absolute;
  bottom: calc(100% + 1px);
  left: 15px;
  width: 2px;
  height: 20px;
  background-color: #444;
  /* filter: var(--drop-shadow); */
}

main.item .images-and-content .content .no-details-warning svg {
  fill: var(--red);
  width: 15px;
}

/* No details were provided */
main.item .images-and-content .content .no-details-warning p:first-child {
  font-size: 1rem;
  /* border-left: 3px solid var(--yellow); */
  /* padding-left: 5px; */
  font-weight: 500;
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 0.875rem;
}

/* No details Advice */
main.item .images-and-content .content .no-details-warning p:nth-child(2) {
  font-size: 0.875rem;
}

@media screen and (max-width: 775px) {
  .info-and-contact {
    flex-direction: column;
  }
}

@media screen and (max-width: 600px) {
  main.item .images-and-content .content {
    flex-direction: column;
  }

  main.item .images-and-content,
  main.item .images-and-content .content .info {
    flex-direction: column;
    max-width: none;
  }

  main.item .images-and-content .content .info-and-contact {
    flex-direction: column;
  }
}

@media only screen and (max-device-width: 485px) {
  main.item {
    padding-bottom: 100px;
    padding-top: 0;
  }

  main.item > .comments-section {
    margin-top: 15px;
  }
}
