ul.listing-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

ul.listing-list li {
  display: flex;
  gap: 20px;
  padding: 10px 0;
  width: 100%;
  background-color: #2b2b2b;
}


ul.listing-list li:not(:last-child) {
  /* border-bottom: 1px solid #555; */
}

ul.listing-list li a.what-is-this {
  font-size: 1.05rem;
  font-weight: 600;
  color: white;
}

ul.listing-list li p.details {
 word-wrap: pre;
}

ul.listing-list li p strong {
  font-weight: 600
}

ul.listing-list li .image-wrapper {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

ul.listing-list li .image-wrapper p.photo-count {
  color: lightgrey;
}


ul.listing-list li .image-wrapper .image-container {
  width: 100px;
  object-fit: cover;
  position: relative;
  height: 100px;
  display: flex;
  align-items: center;
  overflow: hidden;
  border-radius: 3px;
}

ul.listing-list li .image-wrapper .image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
}


/* * Info */
ul.listing-list li .info {
  width: 100%;
}

@media screen and (max-device-width: 480px) {
  ul.listing-list li {
    flex-direction: column;
    gap: 10px
  }

  ul.listing-list li .image-wrapper {
    flex-direction: row;
    align-items: flex-end;
    gap: 5px;
  }
}