.sort-select {
  display: flex;
  font-size: 1rem;
  gap: 10px;
  align-self: flex-end;
  align-items: center;
  justify-content: flex-end;
  position: relative;
  /* margin-bottom: 10px; */
}

.sort-select > select {
  background-color: transparent;
  border: 0;
  border-radius: 3px;
  display: flex;
  cursor: pointer;
  transition: 0.05s ease background-color;
  color: white;
  /* padding-right: 30px; */
  z-index: 1;
  border: 1px solid transparent;
  /* background-color: #2f2f2f; */
  /* border: 1px solid #444; */
  font-size: 0.875rem;
  /* height: 33px; */
  text-align: end;

  /* background-color: #333; */
  /* border-top: 1px solid #444;
  border-bottom: 1px solid #444; */
}
.sort-select > select:hover {
  color: white;
  /* background-color: #3b3b3b; */
}

.sort-select p {
  font-weight: 600;
}

.sort-select > .desktop-icon-parent,
.sort-select > .mobile-icon-parent {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 2;
  align-items: center;
  justify-content: center;
  margin-left: 0;
}

.sort-select > .mobile-icon-parent {
  right: 10px;
  display: none;
}

.sort-select > .desktop-icon-parent {
  display: flex;
  left: 10px;
  width: 9px;
}

.sort-select > .desktop-icon-parent > svg,
.sort-select > .mobile-icon-parent > svg {
  fill: #ddd;
  width: 9px;
}

.sort-select > .mobile-icon-parent {
  display: none;
}

@media only screen and (max-device-width: 450px) {
  .sort-select {
    width: 100%;
    min-width: 100%;
  }

  .sort-select > select {
    width: 100%;
    min-width: 100%;
    background: transparent;
    border-left: 0;
    border-right: 0;
    border-radius: 0;
    text-align: start;
    padding: 0px 10px;
    border-top: 1px solid #444;
    border-bottom: 1px solid #444;
  }

  .sort-select > .desktop-icon-parent {
    display: none;
  }

  .sort-select > .mobile-icon-parent {
    display: flex;
  }

  .sort-select > .mobile-icon-parent > svg {
    width: 15px;
  }
}
