.notifications-menu {
  /* padding: 10px; */
  border-radius: 3px;
  top: 58px;
  right: 15px;
  position: fixed;
  background-color: #333;
  border: 1px solid #555;
  z-index: 5;
  box-shadow: -3px 3px 5px #18181877;
  max-width: 250px;
}

.notifications-menu .header {
  display: flex;
  border-bottom: 1px solid #555;
  padding: 5px 10px;
  font-size: 1rem;
  font-weight: 600;
}

.notifications-menu ul {
  list-style: none;
  max-height: 500px;
  overflow: auto;
}

.notifications-menu ul li {
  /* padding: 5px 10px; */
  display: flex;
  gap: 5px;
}

.notifications-menu ul li:hover {
  cursor: pointer;
  background-color: #444;;
}

.notifications-menu ul li:not(:last-child) {
  border-bottom: 1px solid #555;
}

.notifications-menu ul li .read-circle {
  border-radius: 50%;
  height: 12px;
  width: 12px;
  min-width: 12px;
  background-color: white;
  visibility: hidden;
}

.notifications-menu ul li .read-circle.unread {
  background-color: var(--lightgreen);
  border: 1px solid #555;
  z-index: 2;
  visibility: visible;
  cursor: help;
}

.notifications-menu ul li a {
  color: white;
  display: flex;
  gap: 10px;
  padding: 10px;
}

.notifications-menu ul li a:hover {
  text-decoration: none;
}



.notifications-menu ul li a .time-ago {
  font-size: 0.875rem;
}

.notifications-menu .no-notifications {
  padding: 10px;
}

/* Phones */
@media only screen and (max-device-width: 480px) {
  .notifications-menu {
    top: initial;
    bottom: 63px;
  }
}
