.item-skeleton-container {
  height: 280px;
  width: 100%;
  max-height: 280px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.item-skeleton-container .image-skeleton {
  height: 200px;
  width: 100%;
  border-radius: 3px;
  margin-bottom: 3px;
}

.item-skeleton-container .words-skeleton {
  width: calc(100% - 15px);
  border-radius: 3px;
  height: 1rem;
}

.item-skeleton-container .words-skeleton.short {
  max-width: 40px;
  width: 100%;
}

.item-skeleton-container .profile-picture-and-name-skeletons {
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 5px;
}

.item-skeleton-container .profile-picture-and-name-skeletons .words-skeleton {
  width: calc(100% - 125px);
  height: 0.875rem;
}

.item-skeleton-container .profile-picture.skeleton {
  width: 23px;
  height: 23px;
  min-width: 23px;
  min-height: 23px;
  border-radius: 100px;
}
