 .toggle-button {
  padding: 3px 5px;
  font-size: 1rem;
  cursor: pointer;
  background-color: #6B6B6B;
  transition: 0.1s ease border-color;
}

 .toggle-button.activated {
  border: 1px solid var(--lightgreen);
}