/* * Grid */
.grid {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 10px;
  padding-bottom: 100px;
}

.grid.accounts-for-sidebar {
  grid-template-columns: repeat(4, 1fr);
}

.grid a {
  text-decoration: none;
}

.grid a:hover {
  text-decoration: none;
}

.grid .grid-item {
  color: white;
  cursor: pointer;
  text-decoration: none;
  position: relative;
  height: 295px;
}

.grid .grid-item:hover .image-container {
  transform: translateY(-1px);
  border: 2px solid var(--lightgreen);
}

.grid .grid-item > .image-container {
  max-width: 100%;
  max-height: 200px;
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
  background-color: #444;
  padding: 5px;
  border-radius: 3px;
  border: grey 2px solid;
  transition: transform 0.1s ease, background-color 0.1s ease;
}

.grid .grid-item > .image-container > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 3px;
}

.grid .grid-item > .image-container.cover {
  border: 1px solid lightgrey;
}

.grid .grid-item > .listing-card-info {
  /* position: absolute; */
  /* z-index: 2; */
  /* bottom: -40px; */
  /* left: 0; */
  margin-top: 5px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.grid .grid-item > .listing-card-info .what-is-this,
.grid .grid-item > .listing-card-info .price {
  font-size: 0.875rem;
  text-decoration: none !important;
}

.grid .grid-item > .listing-card-info .price {
  border-top-right-radius: 3px;
  font-weight: 600;
}

.grid .grid-item:hover > .listing-card-info .what-is-this {
  text-decoration: none !important;
}

.grid .grid-item > .listing-card-info > .profile {
  display: flex;
  gap: 5px;
  align-items: center;
  margin-top: 3px;
}

.grid .grid-item > .listing-card-info > .profile > .profile-picture-container {
  position: relative;
  width: 23px;
  height: 23px;
}

.grid
  .grid-item
  > .listing-card-info
  > .profile
  > .profile-picture-container
  > .profile-picture {
  background-color: #666;
  border-radius: 100px;
  width: 23px;
  height: 23px;
  object-fit: cover;
}

.comment:not(.is-root-level)
  .bars-and-content
  .profile-picture-container
  .profile-picture {
  width: 25px;
  min-width: 25px;
  height: 25px;
  object-fit: cover;
}

.view-toggle {
  margin-bottom: 10px;
  display: flex;
  gap: 10px;
}

.view-toggle button {
  padding: 3px 5px;
  font-size: 0.875rem;
  border: 1px solid grey;
  border-radius: 3px;
  background-color: #555;
  cursor: pointer;
}

.view-toggle button.toggled {
  border: 1px solid var(--lightgreen);
}

@media screen and (max-width: 1000px) {
  .grid {
    grid-template-columns: repeat(4, 1fr);
  }

  .grid.accounts-for-sidebar {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (max-width: 750px) {
  .grid {
    grid-template-columns: repeat(3, 1fr);
  }

  .grid.accounts-for-sidebar {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 625px) {
  .grid {
    grid-template-columns: repeat(3, 1fr);
  }

  .grid.accounts-for-sidebar {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (max-width: 530px) {
  .grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .grid.accounts-for-sidebar {
    grid-template-columns: repeat(2, 1fr);
  }

  .grid-item {
    height: 150px;
  }
}

@media screen and (max-width: 325px) {
  .grid {
    grid-template-columns: 1fr;
  }
}
