.home {
  display: flex;
  flex-direction: column;
  gap: 20px;
  /* height: 100%; */
}

.home .listings-section {
  width: 100%; /* this breaks the page on safari */
  /* margin-left: 241px; */
}

.home .listings-section.has-sidebar-margin {
  /* margin-left: 241px; */
}

.home .listings-section .wtb-section {
  display: flex;
  gap: 10px;
  margin-bottom: 15px;
}

.home .listings-section .wtb-section button {
  background-color: transparent;
  padding: 3px 5px;
  border-radius: 3px;
  border: 1px solid #555;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 600;
  transition: color 0.1s ease, background-color 0.1s ease;
}

.home .listings-section .wtb-section button.toggled {
  background-color: var(--lightgreen);
  color: #181818;
}

.home .listings-controls {
  display: flex;
  width: 100%;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  gap: 10px;
  font-size: 0.875rem;
  /* padding: 10px 0 10px 0; */
  padding-top: 0;
  z-index: 2;
  width: 100%;
  z-index: 4;
  margin-bottom: 5px;
  background-color: var(--bg-primary);
  padding-top: 10px;
  position: sticky;
  padding-bottom: 10px;
  top: 47px !important;
}

.home .listings-controls .view-selector {
  display: flex;
  align-self: center;
  display: flex;
  flex-direction: row;
  background-color: #333;
  border: 1px solid #444;
  border-radius: 3px;
  /* padding: 5px */
  height: 33px;
  overflow: hidden;

}

.home .listings-controls .view-selector button {
  border: 0;
  background-color: transparent;
  padding: 3px 15px;
  cursor: pointer;
  font-size: 0.875rem;
  color: white;
  overflow: hidden;
}

.home .listings-controls .view-selector button:not(:first-child) {
  border-left: 1px solid #444;
}


.home .listings-controls .view-selector button:not(:disabled):not(.selected):hover {
  background-color: #3b3b3b;
}

.home .listings-controls .view-selector button.selected {
   background-color: #555;
 position: relative;
 overflow: hidden;
}

.home .listings-controls .view-selector button.selected::before {
  content: '';
  position: absolute;
  background-color: var(--lightgreen);
  width: 10px;
  top: -5px;
  left: -5px;
  height: 10px;
  transform: rotate(-45deg);
}

.home .listings-controls .view-selector button:not(:disabled).selected:hover {
  background-color: #5b5b5b;
}

.home .listings-controls .control-group select label {
  background-color: lightblue;
  width: 100%;
}

.home .listings-controls .control-group select:hover,
.home .listings-controls .filters-button:hover svg {
  /* background-color: #5f5f5f; */
  color: var(--yellow);
  fill: var(--yellow);
}

.home .listings-controls .control-group.sort {
  display: flex;
  font-size: 1rem;
  gap: 10px;
  align-self: flex-end;
  align-items: center;
  justify-content: flex-end;
  position: relative;
  /* margin-bottom: 10px; */
}

.home .listings-controls .control-group.sort svg {
  width: 9px;
  min-width: none;
  fill: #ddd;
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  z-index: 2;
}

.home .listings-controls .control-group.sort select {
  background-color: transparent;
  border: 0;
  border-radius: 3px;
  /* border-left: 2px solid ; */
  /* padding: 5px 7px; */
  cursor: pointer;
  transition: 0.05s ease background-color;
  color: white;
  padding-left: 30px;
  z-index: 1;
  border: 1px solid transparent;
  /* box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px; */
  background-color: #2f2f2f;
  border: 1px solid #444;
  font-size: 0.875rem;
  height: 33px;
}

.home .listings-controls .control-group.sort select:hover {
  color: white;
  background-color: #3b3b3b;
}

.home .listings-controls .control-group.sort p {
  font-weight: 600;
}

.home .listings-controls .control-group.home {
  display: none;
}

.home .listings-controls .control-group.home .home-link {
  display: flex;
  align-items: center;
  justify-content: center;
}

.home .listings-controls .control-group.home svg {
  width: 25px;
  fill: white;
}

.home > .sidebar-and-grid {
  display: flex;
  gap: 10px;
  height: 100%;
  position: relative;
}

/* .home .sidebar-toggle-button {
  background-color: var(--lightgreen);
  padding: 7px 15px;
  align-self: flex-start;
  border-radius: 3px;
  font-size: 1rem;
  color: #212529;
  border: 1px solid transparent;
  cursor: pointer;
  transition: 0.1s ease filter;
  width: 100%;
  color: white;
  text-shadow: 1px 1px 3px #21252953;
  font-weight: 600;
  transition: color 0.1s ease, background-color 0.1s ease;
} */

@media screen and (max-width: 625px) {
  .home .listings-section {
    margin-left: 0;
  }
}

@media screen and (max-width: 500px) {
  .home .listings-section {
    margin-left: 0;
    /* padding-top: 56px; */
  }

  .home .listings-section .listings-controls {
    top: 56px;
  }
}

@media only screen and (max-device-width: 480px) {

  .home .listings-section .listings-controls {
    justify-content:  flex-end;
    position: sticky;
    padding-bottom: 10px;
    top: 0 !important;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
  }

  .home .listings-section .listings-controls .view-selector {
    align-self: flex-end;
  }

  .home .listings-section .listings-controls .control-group.home {
    display: flex;
  }

  .home > .sidebar-and-grid .sidebar {
    z-index: 8;
  }

  .home > .sidebar-and-grid .modal-overlay {
    z-index: 7 !important;
  }

  /* .home .listings-section .listings-controls .control-group.sort select {
    height: 32px;
  } */

  .home .listings-section .sidebar-toggle-button-parent {
    top: 0;
    display: flex;
    padding: 0;
    align-items: end;
    /* padding-bottom: 71px */
  }

  .home .listings-section .sidebar-toggle-button-parent .sidebar-toggle-button {
    /* bottom: 0; */
    margin-bottom: 200px;
  }

  .home .listings-section .sidebar-toggle-button-parent .dotted-track {
  }
}

@media screen and (max-device-width: 480px) {

  .home {
    height: auto;
  }
  /* .home .listings-controls {
    position: sticky;
    padding-bottom: 10px;
    top: 0 !important;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
  } */
}

/* TODO - Delete me if not needed */
/* .animated-banner {
  height: 100px;
  width: 100%;
  background-color: blue;
  position: relative;
}

.animated-banner::after {
  content: "";
  position: absolute;
  left: -4rem;
  top: 0;
  width: calc(100% + 5rem);
  height: 100%;
  background-image: url("/svgs/dash.svg");
  background-size: 5rem 20rem;
  -webkit-animation-name: a-dash;
  animation-name: a-dash;
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-direction: normal;
  animation-direction: normal;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
} */
