.listings {
  display: flex;
  flex-direction: column;
  gap: 20px;
  height: 100%;
}

.listings .listings-section {
  width: 100%;
  margin-left: 241px;
}

/* * Search bar */
.listings .search-bar {
  width: 100%;
  margin-bottom: 20px;
}

.listings .search-bar form {
  display: flex;
  width: 100%;
  gap: 10px;
}

.listings .search-bar form svg {
  width: 15px;
  fill: white;
}

.listings .search-bar form .search-input-container {
  position: relative;
  width: 100%;
}

.listings .search-bar form .search-input-container input {
  width: 100%;
  padding: 5px 10px;
  padding-left: 35px;
  font-size: 1rem;
  border-radius: 3px;
  border: grey 1px solid;
  background-color: #3b3b3b;
}

.listings .search-bar form .search-input-container .search-icon {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
}

.listings .search-bar form button {
  padding: 5px 10px;
  background-color: #666;
  border: 0;
  border-radius: 3px;
  font-size: 1rem;
}

.listings .search-bar form button:not(:disabled) {
  cursor: pointer;
}

.listings .search-bar form button:not(:disabled):hover {
  background-color: #6f6f6f;
}

.listings .listings-controls {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 10px;
  gap: 10px;
  font-size: 0.875rem;
}

.listings .listings-controls .control-group {
}

.listings .listings-controls .filters-button,
.listings .listings-controls .control-group select,
.listings .search-bar form button {
  font-size: 1rem;
  color: white;
  background-color: #444;
  border: 1px solid grey;
  border-radius: 3px;
  padding: 3px 5px;
  cursor: pointer;

  transition: 0.1s ease background-color;
}

.listings .listings-controls .control-group select:hover,
.listings .listings-controls .filters-button:hover,
.listings .search-bar form button:hover {
  background-color: #5f5f5f;
}

.listings > .sidebar-and-grid {
  display: flex;
  gap: 20px;
  height: 100%;
}

.listings .sidebar {
  position: fixed;
  left: 0;
  top: 0;
  padding: 15px;
  height: 100%;
  max-height: 100%;
  overflow: hidden;
  border-right: #626262 1px solid;
  /* margin-top: -15px; */
  padding-top: 53px;
  padding-right: 15px;
  overflow: auto;
  background-color: var(--bg-primary);
  max-width: 240px;
}

.listings .sidebar.over-nav {
  z-index: 4;
  padding-top: 15px;
}

.listings .sidebar-toggle-button {
  background-color: var(--lightgreen);
  padding: 7px 15px;
  align-self: flex-start;
  border-radius: 3px;
  font-size: 1rem;
  color: #212529;
  border: 1px solid transparent;
  cursor: pointer;
  transition: 0.1s ease filter;
  width: 100%;
  color: white;
  text-shadow: 1px 1px 3px #21252953;
  font-weight: 600;
  transition: color 0.1s ease, background-color 0.1s ease;
  /* position: absolute; */
}

.listings .close-sidebar-button {
  align-self: flex-start;
  fill: white;
  cursor: pointer;
  display: flex;
  font-size: 1rem;
  color: white;
  background-color: #444;
  border: 1px solid grey;
  border-radius: 3px;
  padding: 7px 15px;
  cursor: pointer;
  transition: 0.1s ease background-color;
}

.listings .close-sidebar-button:hover {
  background-color: #6f6f6f;
}

.listings .sidebar .apply-button {
  background-color: var(--lightgreen);
  padding: 7px 15px;
  align-self: flex-start;
  border-radius: 3px;
  font-size: 1rem;
  color: #212529;
  border: 1px solid transparent;
  cursor: pointer;
  transition: 0.1s ease filter;
  width: 100%;
  color: white;
  text-shadow: 1px 1px 3px #21252953;
  font-weight: 600;
  transition: color 0.1s ease, background-color 0.1s ease;
  /* position: absolute; */
}

.listings .sidebar .apply-button:disabled {
  color: grey;
  background-color: #444;
  cursor: not-allowed;
}

.listings .sidebar .apply-button:not(:disabled):hover {
  filter: brightness(1.1);
}

/* * Filters */
.listings .filters {
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  margin-bottom: 25px;
  gap: 15px;
  /* margin-top: 50px; */
  /* height: calc(100% - 60px); */
  padding-bottom: 30px;
}

.listings .filters > .filter-items {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.listings .filters > .filter-items .filter-item {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.listings .filters > .filter-items .filter-item .min-max-price-inputs {
  display: flex;
  gap: 10px;
  /* flex-direction: column; */
}

.listings .filters > .filter-items .filter-item .min-max-input-container {
  display: flex;
  flex-direction: column;
  font-size: 0.875rem;
}

.listings
  .filters
  > .filter-items
  .filter-item
  > .checkbox-options
  > .checkbox-option
  > label {
  font-size: 0.875rem;
  cursor: pointer;
}

.listings .filters > .filter-items .filter-item > .checkbox-options > .checkbox-option {
  display: flex;
  gap: 5px;
  font-size: 0.875rem;
  cursor: pointer !important;
}

.listings
  .filters
  > .filter-items
  .filter-item
  > .checkbox-options
  > .checkbox-option:hover {
  border-color: #aaa;
}

.listings .filters > .filter-items .filter-item select {
  max-width: 100%;
}

.listings .filters > .filter-items .filter-item select:not(:disabled) {
  cursor: pointer;
}

.listings .filters > .filter-items .filter-item input[type="text"],
.listings .filters > .filter-items .filter-item input[type="number"],
.listings .filters > .filter-items .filter-item select {
  padding: 3px 5px;
  border-radius: 3px;
  border: 1px solid #acacac;
  background-color: #3b3b3b;
  font-size: 1rem;
  color: white;
}

.listings .filters > .filter-items .filter-item .min-max-input-container {
  width: 100%;
  overflow: hidden;
}

.listings .filters > .filter-items .filter-item .min-max-input-container input {
  max-width: 100px;
}

/* .listings .filters > .filter-items  .filter-item .min-max-input-container input.error {
  border-color: #ff607d;
  background-color: #3B3B3B;
  outline-color: blue;
} */

.listings .filters > .filter-items .filter-item .min-max-input-container input:focus,
.listings .filters > .filter-items .filter-item .min-max-input-container input:active {
  outline: green;
}

.listings .filters .radio-options {
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 100%;
}

.listings .filters > .filter-items .filter-item > .checkbox-options {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.listings
  .filters
  > .filter-items
  .filter-item
  > .checkbox-options
  > .checkbox-option
  label {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  white-space: nowrap;
  gap: 5px;
  background-color: #2b2b2b;
  border: 1px solid grey;
  padding: 3px 5px 3px 3px;
  border-radius: 2px;
  cursor: pointer;
}

.listings
  .filters
  > .filter-items
  .filter-item
  > .checkbox-options
  > .checkbox-option.checked
  label {
  background-color: #3b3b3b;
  border: 1px solid grey;
}

.filters .filter-warning {
  font-size: 0.875rem;
  color: var(--red);
}

/* * Grid */
.listings .grid {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
}

.listings .grid .grid-item {
  color: white;
  cursor: pointer;
  text-decoration: none;
  position: relative;
  height: 270px;
}

.listings .grid .grid-item:hover .image-container {
  transform: translateY(-1px);
  border: 2px solid var(--lightgreen);
}


.listings .grid .grid-item > .image-container {
  max-width: 100%;
  max-height: 200px;
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
  background-color: #444;
  padding: 5px;
  border-radius: 3px;
  border: grey 2px solid;
  transition: transform 0.1s ease, background-color 0.1s ease;
}

.listings .grid .grid-item > .image-container > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 3px;
}

.listings .grid .grid-item > .image-container.cover {
  border: 1px solid lightgrey;
}

.listings .grid .grid-item > .listing-card-info {
  /* position: absolute; */
  /* z-index: 2; */
  /* bottom: -40px; */
  /* left: 0; */
  margin-top: 5px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.listings .grid .grid-item > .listing-card-info .what-is-this,
.listings .grid .grid-item > .listing-card-info .price {
  font-size: 0.875rem;
  text-decoration: none !important;
}

.listings .grid .grid-item > .listing-card-info .price {
  border-top-right-radius: 3px;
  font-weight: 600;
}

.listings .grid .grid-item:hover > .listing-card-info .what-is-this {
  text-decoration: none !important;
}

.listings .view-toggle {
  margin-bottom: 10px;
  display: flex;
  gap: 10px;
}

.listings .view-toggle button {
  padding: 3px 5px;
  font-size: 0.875rem;
  border: 1px solid grey;
  border-radius: 3px;
  background-color: #555;
  cursor: pointer;
}

.listings .view-toggle button.toggled {
  border: 1px solid var(--lightgreen);
}

@media screen and (max-width: 1000px) {
  .listings .grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (max-width: 750px) {
  .listings .grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 625px) {
  .listings .grid {
    grid-template-columns: repeat(3, 1fr);
  }

  .listings .listings-section {
    margin-left: 0;
  }
}

@media screen and (max-width: 450px) {
  .listings .grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .listings .grid-item {
    height: 150px;
  }

  .listings .listings-section {
    margin-left: 0;
  }

  .listings-section .search-bar {
    position: fixed;
    top: 38px;
    left: 50%;
    width: calc(100% - 30px);
    transform: translateX(-50%);
    z-index: 2;
    background-color: var(--bg-primary);
    width: 100%;
    padding: 10px 15px;
    z-index: 3;
  }

  .listings-section .listings-controls {
    position: fixed;
    top: 88px;
    left: 50%;
    width: calc(100% - 30px);
    transform: translateX(-50%);
    width: 100%;
    z-index: 3;
    background-color: var(--bg-primary);
    padding: 10px 15px;
    border-bottom: #444 1px solid;
  }

  .listings .grid {
    margin-top: 88px;
  }
}
