main.home {
  display: flex;
  flex-direction: column;
  /* padding: 15px; */
  padding-top: 65px;
  max-width: 1265px;
  margin: 0 auto;
  gap: 20px;
}

.home .listings-section {
  width: 100%; /* this breaks the page on safari */
  padding-right: 10px;
}

.home .listings-section.has-sidebar-margin {
  /* margin-left: 241px; */
}

.home .listings-section .wtb-section {
  display: flex;
  gap: 10px;
  margin-bottom: 15px;
}

.home .listings-section .wtb-section button {
  background-color: transparent;
  padding: 3px 5px;
  border-radius: 3px;
  border: 1px solid #555;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 600;
  transition: color 0.1s ease, background-color 0.1s ease;
}

.home .listings-section .wtb-section button.toggled {
  background-color: var(--lightgreen);
  color: #181818;
}

.home .listing-controls {
  display: flex;
  width: 100%;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  gap: 10px;
  font-size: 0.875rem;
  /* padding: 10px 0 10px 0; */
  padding-top: 0;
  z-index: 2;
  width: 100%;
  z-index: 4;
  /* margin-bottom: 5px; */
  background-color: var(--bg-primary);
  padding-top: 10px;
  position: sticky;
  padding-bottom: 10px;
  top: 47px !important;
}

.home .listing-controls .control-group select label {
  background-color: lightblue;
  width: 100%;
}

.home .listing-controls .control-group select:hover,
.home .listing-controls .filters-button:hover svg {
  /* background-color: #5f5f5f; */
  color: var(--yellow);
  fill: var(--yellow);
}

.home .listing-controls .control-group.home {
  display: none;
}

.home .listing-controls .control-group.home .home-link {
  display: flex;
  align-items: center;
  justify-content: center;
}

.home .listing-controls .control-group.home svg {
  width: 25px;
  fill: white;
}

.home > .sidebar-and-grid {
  display: flex;
  gap: 10px;
  height: 100%;
  position: relative;
}

/* .home .sidebar-toggle-button {
  background-color: var(--lightgreen);
  padding: 7px 15px;
  align-self: flex-start;
  border-radius: 3px;
  font-size: 1rem;
  color: #212529;
  border: 1px solid transparent;
  cursor: pointer;
  transition: 0.1s ease filter;
  width: 100%;
  color: white;
  text-shadow: 1px 1px 3px #21252953;
  font-weight: 600;
  transition: color 0.1s ease, background-color 0.1s ease;
} */

@media screen and (max-width: 625px) {
  .home .listings-section {
    margin-left: 0;
    padding: 0 10px;
  }
}

@media screen and (max-width: 500px) {
  .home .listings-section {
    margin-left: 0;
    /* padding-top: 56px; */
  }

  .home .listings-section > .listing-controls {
    top: 56px;
  }
}

@media only screen and (max-device-width: 480px) {
  main.home {
    padding-top: 10px;
    gap: 0;
  }

  .home .listings-section {
    padding: 0
  }

  .home .listings-section > .listing-controls {
    justify-content: space-between;
    position: sticky;
    padding-bottom: 10px;
    padding: 0;
    top: 0 !important;
    flex-direction: column;
    align-items: flex-end;
    flex-wrap: nowrap;
  }



  .home .listings-section > .listing-controls .control-group.home {
    display: flex;
  }

  .home > .sidebar-and-grid .sidebar {
    z-index: 10;
  }

  .home > .sidebar-and-grid .modal-overlay {
    z-index: 9 !important;
  }

  /* .home .listings-section .listing-controls .control-group.sort select {
    height: 32px;
  } */

  .home .listings-section .sidebar-toggle-button-parent {
    top: 0;
    display: flex;
    padding: 0;
    align-items: end;
    /* padding-bottom: 71px */
  }

  .home .listings-section .sidebar-toggle-button-parent .sidebar-toggle-button {
    /* bottom: 0; */
    margin-bottom: 200px;
  }

  .home .listings-section .sidebar-toggle-button-parent .dotted-track {
  }
}

@media screen and (max-device-width: 480px) {
  .home {
    height: auto;
  }

  .home > h1 {
    padding: 0 10px 0px 10px;
  }

  .home .listings-section > .listing-controls {
    margin-top: 10px;
    margin-bottom: 10px;
  }
}
