.right-side-menu {
  /* padding: 10px; */
  /* z-index: 5; */
  border: 1px solid #555;
  border-radius: 3px;
  position: fixed;
  top: 58px;
  right: 10px;
  box-shadow: -3px 3px 5px #18181877;
  overflow: hidden;
}

.right-side-menu .error-text {
  margin: 5px;
  width: 100%;
  max-width: 200px;
}

/* .right-side-menu button .right-side-menu button {
  padding: 5px 10px;
  font-size: 1rem;
  border-radius: 3px;
  border: 1px solid #444;
} */

.right-side-menu .menu-item,
.right-side-menu .menu-item.logout {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  padding: 10px 15px;
  cursor: pointer;
  gap: 10px;
  color: white;
  background-color: #2f2f2f;
  border: 0;
  font-size: 1rem;
}

.right-side-menu .menu-item.current,
.right-side-menu .menu-item.current {
  border-left: 2px solid var(--lightgreen);
}

.right-side-menu .menu-item:hover {
  background-color: #444;
  text-decoration: none;
}

.right-side-menu .menu-item:active {
  background-color: #6f6f6f;
}

.right-side-menu .menu-item svg {
  fill: white;
  width: 20px;
}

.right-side-menu .profile-link {
  display: flex;
  align-items: center;
  gap: 10px;
}

.right-side-menu .profile-link .profile-picture {
  height: 40px;
  width: 40px;
  border-radius: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 0;
  border: 2px solid grey;
  cursor: pointer;
  /* margin-left: 5px; */
  /* padding: 3px; */
  transition: 0.1s ease background-color;
  object-fit: cover;
  /* background-color: white; */
}

.right-side-menu .menu-item.sell {
  padding: 5px 10px;
  /* border-radius: 3px; */
  width: calc(100% - 10px);
  margin: 10px 5px;
  /* background-color: var(--lightgreen); */
  display: none;
  align-items: center;
  justify-content: center;
}

.right-side-menu .menu-item.sell {
  color: white;
  font-weight: 600;
}

.right-side-menu .menu-item.sell:hover {
  text-decoration: none;
}

.right-side-menu .menu-item.sell svg {
  width: 15px;
  fill: white;
}

.right-side-menu .profile-link .info {
  display: flex;
  flex-direction: column;
}

.right-side-menu .profile-link .info label {
  cursor: pointer;
  /* color: var(--lightgreen); */
}

.right-side-menu .profile-link .info .user-email {
  font-size: 0.875rem;
  color: #aaa;
}

/* @media screen and (max-width: 500px) {
  .right-side-menu .menu-item.sell {
    display: flex;
  }
} */

/* Phones */
@media only screen and (max-device-width: 480px) {
  .right-side-menu {
    top: initial;
    bottom: 78px;
  }
}
