nav {
  background-color: #666;
  padding: 7px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 4;
  gap: 40px;
}

nav .home-link {
  font-weight: 600;
}

nav .nav-links {
  display: flex;
  align-items: center;
  gap: 10px;
}

nav .nav-links .right-side-menu-button {
  height: 35px;
  width: 35px;
  border-radius: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 0;
  cursor: pointer;
  margin-left: 5px;
  padding: 3px;
  transition: 0.1s ease background-color;
}

nav .nav-links .right-side-menu-button:hover {
  background-color: #b1b1b1;
}

nav .nav-links .right-side-menu-button .profile-picture {
  height: 100%;
  width: 100%;
  border-radius: 100px;
  border: white solid 1px;
  background-color: white;
}
