nav.desktop {
  background-color: var(--bg-primary);
  padding: 7px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
  /* bottom: 0; */
  right: 0;
  left: 0;
  z-index: 5;
  gap: 15px;
  border-bottom: #444 1px solid;
}

nav.desktop .home-link-and-filter-button {
  display: flex;
  gap: 15px;
  align-items: center;
  width: 100%;
}

/* nav.desktop .home-link-and-filter-button svg {
  width: 30px;
  fill: white;
} */

nav.desktop .home-link-and-filter-button .filters-toggle-button {
  display: none;
  border-radius: 50%;
  overflow: hidden;
}

nav.desktop .home-link-and-filter-button .filters-toggle-button svg {
  width: 32px;
}

nav.desktop .home-link {
  font-weight: 600;
  white-space: nowrap;
  display: flex;
}

nav.desktop .home-link-and-filter-button button.search-toggle,
nav.desktop .home-link-and-filter-button a.home-link {
  background-color: #444;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  border: 0;
  cursor: pointer;
  border: 1px solid #555;
  width: 40px;
  height: 40px;
  min-width: 40px;
}
/* 
nav.desktop .home-link-and-filter-button button:hover svg {
  fill: var(--yellow);
} */

nav.desktop .home-link-and-filter-button button.search-toggle svg,
nav.desktop .home-link-and-filter-button .home-link svg {
  /* display: none; */
  fill: white;
  width: 20px;
}

nav.desktop .login-link {
  padding: 5px 10px;
  border-radius: 3px;
  background-color: var(--lightgreen);
  display: flex;
  align-items: center;
  justify-content: center;
}

nav.desktop .login-link {
  color: white;
  font-weight: 600;
}

nav.desktop .login-link:hover {
  text-decoration: none;
}

nav.desktop .right-side {
  display: flex;
  align-items: center;
  gap: 15px;
  /* width: 100%; */
  justify-content: flex-end;
}

nav.desktop .right-side a.sell-link {
  border-radius: 50%;
  height: 40px;
  width: 40px;
  /* border: 1px solid #555; */
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #444;
  border: 1px solid #555;
}

nav.desktop .right-side a.sell-link {
  color: white;
  font-weight: 600;
}

nav.desktop .right-side a.sell-link:hover {
  text-decoration: none;
}

nav.desktop .right-side a.sell-link svg {
  width: 17px;
  filter: drop-shadow(1px 1px 5px rgba(0, 0, 0, 0.15));
  fill: white;
}

nav.desktop .right-side .notifications-menu-toggle {
  border: 0;
  height: 40px;
  width: 40px;
  min-width: 40px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #444;
  border: #555 1px solid;
  cursor: pointer;
  position: relative;
}

nav.desktop .right-side .notifications-menu-toggle:hover,
nav.desktop .right-side a.sell-link:hover,
nav.desktop .home-link-and-filter-button button.search-toggle:hover,
nav.desktop .home-link-and-filter-button a.home-link:hover {
  background-color: #555;
  border-color: #666;
}

nav.desktop .right-side .notifications-menu-toggle.toggled {
  border-color: var(--lightgreen);
}

nav.desktop .right-side .notifications-menu-toggle svg {
  width: 15px;
  fill: white;
}

nav.desktop .right-side .notifications-menu-toggle.toggled svg {
  fill: var(--lightgreen);
}

nav.desktop .right-side .notifications-menu-toggle .unread-notification-count {
  position: absolute;
  font-weight: 600;
  right: -5px;
  top: -5px;
  background-color: #e41e3f;
  color: white;
  font-size: 0.75rem;
  border-radius: 50%;
  aspect-ratio: 1/1;
  width: 18px;
  height: 18px;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
}

nav.desktop .right-side .right-side-menu-button {
  height: 40px;
  width: 40px;
  min-width: 40px;
  border-radius: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 0;
  cursor: pointer;
  overflow: hidden;
  /* margin-left: 5px; */
  padding: 2px;
  transition: 0.1s ease background-color;
  /* background-color: transparent; */
}

nav.desktop .right-side .right-side-menu-button:hover {
  background-color: #b1b1b1;
}

nav.desktop .right-side .right-side-menu-button .profile-picture {
  height: 100%;
  width: 100%;
  border-radius: 50%;
  background-color: white;
  object-fit: cover;
}

/* tablets */
@media only screen and (max-device-width: 768px) {
}

/* Laptops and medium desktops */
@media only screen and (max-device-width: 992px) {
}

/* large desktops/devices */
@media only screen and (max-device-width: 1200px) {
}
