nav.desktop {
  background-color: var(--bg-primary);
  padding: 7px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
  /* bottom: 0; */
  right: 0;
  left: 0;
  z-index: 5;
  gap: 15px;
  border-bottom: #444 1px solid;
}

nav.desktop .left-side {
  display: flex;
  gap: 15px;
  align-items: center;
  width: 100%;
}

nav.desktop .left-side .filters-toggle-button {
  display: none;
  border-radius: 50%;
  overflow: hidden;
}

nav.desktop .left-side .filters-toggle-button svg {
  width: 32px;
}

nav.desktop .home-link {
  font-weight: 600;
  white-space: nowrap;
  display: flex;
}

nav.desktop .left-side button.search-toggle,
nav.desktop .left-side a.home-link {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  border: 0;
  cursor: pointer;
  color: white;
  text-decoration: none;
  font-size: 1.15rem;

}

nav.desktop .left-side button.search-toggle svg,
nav.desktop .left-side .home-link svg {
  /* display: none; */
  fill: white;
  width: 30px;
}

nav.desktop .login-link {
  padding: 5px 10px;
  border-radius: 3px;
  border: 1px solid transparent;
  font-size: 1rem;

  background-color: var(--lightgreen);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

nav.desktop .login-link {
  color: white;
  font-weight: 600;
}

nav.desktop .login-link:hover {
  text-decoration: none;
}

nav.desktop .right-side {
  display: flex;
  align-items: center;
  gap: 10px;
  /* width: 100%; */
  justify-content: flex-end;
}

nav.desktop .right-side button.sell-link,
nav.desktop button.menu-button {
  border-radius: 5px;
  height: 32px;
  width: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #555;
  background-color: transparent;
  cursor: pointer;
}

nav.desktop button.menu-button.toggled {
  background-color: var(--lightgreen);
}

nav.desktop button.menu-button.toggled svg {
  filter: drop-shadow(1px 1px 5px rgba(0, 0, 0, 0.45));
}

nav.desktop .right-side button.sell-link,
nav.desktop button.menu-button  {
  color: white;
  font-weight: 600;
}

nav.desktop .right-side button.sell-link:hover,
nav.desktop button.menu-button:hover {
  text-decoration: none;
}

nav.desktop .right-side button.sell-link svg,
nav.desktop button.menu-button svg {
  width: 17px;
  filter: drop-shadow(1px 1px 5px rgba(0, 0, 0, 0.15));
  fill: white;
}

nav.desktop .right-side .notifications-menu-toggle {
  border: 0;
  height: 32px;
  width: 32px;
  min-width: 32px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  /* background-color: #444; */
  border: #555 1px solid;
  cursor: pointer;
  position: relative;

  background-color: transparent;
}

nav.desktop .right-side .notifications-menu-toggle:hover,
nav.desktop .right-side button.sell-link:hover,
nav.desktop .left-side button.search-toggle:hover {
  background-color: #2f2f2f;
  border-color: #555;
}

nav.desktop .right-side .notifications-menu-toggle.toggled {
  border-color: var(--lightgreen);
}

nav.desktop .right-side .notifications-menu-toggle svg {
  width: 15px;
  fill: white;
}

nav.desktop .right-side .notifications-menu-toggle.toggled svg {
  fill: var(--lightgreen);
}

nav.desktop .right-side .notifications-menu-toggle .unread-notification-count {
  position: absolute;
  font-weight: 600;
  right: -5px;
  top: -5px;
  background-color: #e41e3f;
  color: white;
  font-size: 0.75rem;
  border-radius: 50%;
  aspect-ratio: 1/1;
  width: 18px;
  height: 18px;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
}

nav.desktop .right-side .right-side-menu-button {
  height: 32px;
  width: 32px;
  min-width: 32px;
  border-radius: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 0;
  cursor: pointer;
  overflow: hidden;
  /* margin-left: 5px; */
  /* padding: 2px; */
  transition: 0.1s ease background-color;
  /* background-color: transparent; */
  border: 1px solid #555;
  background-color: #2f2f2f;
}

nav.desktop .right-side .right-side-menu-button:hover {
  border: 1px solid #777;
}


nav.desktop .right-side .right-side-menu-button .profile-picture {
  height: 100%;
  width: 100%;
  background-color: white;
  object-fit: cover;
}

@media only screen and (max-device-width: 480px) {
  nav.desktop .left-side a.home-link {

    width: 100%;
    border-radius: 50%;
    width: 32px;
    height: 32px;
    min-width: 32px;
  }
}

/* tablets */
@media only screen and (max-device-width: 768px) {
}

/* Laptops and medium desktops */
@media only screen and (max-device-width: 992px) {
}

/* large desktops/devices */
@media only screen and (max-device-width: 1200px) {
}
