nav {
  background-color: #666;
  padding: 7px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 2;
  gap: 40px;
}

nav .nav-links {
  display: flex;
  gap: 10px;
}