.overview-skeletons {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 100%;
}

.overview-skeletons .grid {
  display: grid;
  height: 100%;
  grid-gap: 5px;
  grid-template-columns: repeat(3, 1fr);
  width: 100%;
}

.overview-skeletons .overlay-content {
  position: absolute;
  transform: translateX(-50%);
  left: 50%;
  top: 35px;
  z-index: 3;
  width: calc(100% - 30px);
  max-width: 400px;
  background-color: #444;
  border: 1px solid #666;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.147);
  padding: 5px;
  border-radius: 2px;
}

.overview-skeletons .overlay-content p {
  font-size: 1rem;
}

.overview-skeletons .overlay-content a {
}

.overview-skeletons .view-all-skeleton {
  background-color: #2b2b2b;
  height: 171px;
  border-radius: 3px;
  width: 33%;
  height: 27px;
}

@media screen and (max-width: 800px) {
  .overview-skeletons .view-all-skeleton {
    width: 49.5%;
  }

  .overview-skeletons .grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-device-width: 480px) {
  .overview-skeletons .view-all-skeleton {
    width: 100%;
  }
}

.overview-skeletons .overview-skeleton {
  background-color: #2b2b2b;
  height: 144px;
  border-radius: 3px;
}
