/* * Grid */
div.grid {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 25px 8px;
  padding-bottom: 100px;
  position: relative;
}

.grid.accounts-for-sidebar {
  grid-template-columns: repeat(4, 1fr);
}

div.grid a {
  text-decoration: none;
}

div.grid a:hover {
  text-decoration: none;
}

div.grid .grid-item {
  color: white;
  cursor: pointer;
  text-decoration: none;
  position: relative;
  height: 280px;
}

div.grid .grid-item:hover .image-container {
  /* transform: translateY(-1px); */
  border: 1px solid var(--lightgreen);
}

div.grid .grid-item > .image-container {
  max-width: 100%;
  max-height: 200px;
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
  /* background-color: #444; */
  padding: 5px;
  border-radius: 3px;
  border: transparent 1px solid;
  /* border: 0; */
  transition: background-color 0.1s ease;
}

div.grid .grid-item > .image-container .indicators {
  display: flex;
  flex-direction: column;
  gap: 5px;
  position: absolute;
  bottom: 5px;
  left: 5px;
  align-items: flex-start;
}

div.grid .grid-item > .image-container p {
  border-radius: 3px;
  padding: 1px 5px;
  font-size: 0.75rem;
  z-index: 2;
  background-color: grey;
  background-color: #2f2f2f;
  border: 1px solid #777;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}



div.grid .grid-item > .image-container p.free-shipping {
  border-left: 3px solid var(--lightgreen);
}

div.grid .grid-item > .image-container p.trades {
  border-left: 3px solid orange;
  display: flex;
  gap: 5px;
  align-items: center;
}

div.grid .grid-item > .image-container p.trades p.info-bubble {
  background-color: #333;
  width: 15px;
  max-width: 15px;
  max-height: 15px;
  height: 15px;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: help;
}

div.grid .grid-item > .image-container > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 2px;
}

div.grid .grid-item > .image-container.cover {
  border: 1px solid lightgrey;
}

div.grid .grid-item > .listing-card-info {
  /* position: absolute; */
  /* z-index: 2; */
  /* bottom: -40px; */
  /* left: 0; */
  margin-top: 5px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

div.grid .grid-item > .listing-card-info .price-and-name {
  display: flex;
  flex-direction: column;
  /* gap: 5px;
  justify-content: space-between;
  width: 100%; */
}

div.grid .grid-item > .listing-card-info .what-is-this,
div.grid .grid-item > .listing-card-info .price {
  font-size: 0.875rem;
  text-decoration: none !important;
}

div.grid .grid-item > .listing-card-info a {
  color: white;
}

div.grid .grid-item > .listing-card-info a:hover,
div.grid .grid-item > .listing-card-info a:focus {
  text-decoration: underline;
}

div.grid .grid-item > .listing-card-info .price {
  border-top-right-radius: 3px;
  font-weight: 600;
}

div.grid .grid-item:hover > .listing-card-info .what-is-this {
  text-decoration: none !important;
}

div.grid .grid-item > .listing-card-info .location {
  font-size: 0.875rem;
  color: grey;
}

div.grid .grid-item > .listing-card-info > .profile {
  /* display: flex; */
  display: none;
  gap: 5px;
  align-items: center;
  margin-top: 3px;
}

div.grid .grid-item > .listing-card-info > .profile > a > .profile-image-container {
  position: relative;
  width: 23px;
  height: 23px;
}

.grid
  .grid-item
  > .listing-card-info
  > .profile
  > a
  > .profile-image-container
  > .profile-image {
  background-color: #666;
  border-radius: 100px;
  width: 23px;
  height: 23px;
  object-fit: cover;
}

.comment:not(.is-root-level)
  .bars-and-content
  .profile-image-container
  .profile-image {
  width: 25px;
  min-width: 25px;
  height: 25px;
  object-fit: cover;
}

.view-toggle {
  margin-bottom: 10px;
  display: flex;
  gap: 10px;
}

.view-toggle button {
  padding: 3px 5px;
  font-size: 0.875rem;
  border: 1px solid grey;
  border-radius: 3px;
  background-color: #555;
  cursor: pointer;
}

.view-toggle button.toggled {
  border: 1px solid var(--lightgreen);
}

@media screen and (max-width: 1000px) {
  div.grid {
    grid-template-columns: repeat(4, 1fr);
  }

  .grid.accounts-for-sidebar {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (max-width: 750px) {
  div.grid {
    grid-template-columns: repeat(3, 1fr);
  }

  .grid.accounts-for-sidebar {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 625px) {
  div.grid {
    grid-template-columns: repeat(3, 1fr);
  }

  .grid.accounts-for-sidebar {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (max-width: 530px) {
  div.grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .grid.accounts-for-sidebar {
    grid-template-columns: repeat(2, 1fr);
  }

  .grid-item {
    height: 150px;
  }
}

@media screen and (max-width: 325px) {
  div.grid {
    grid-template-columns: 1fr;
  }
}

@media only screen and (max-device-width: 480px) {
  div.grid .grid-item:hover .image-container {
    transform: none;
    border: 1px solid transparent;
  }
}
