.overview {
  padding-bottom: 100px;
}

.overview .view-all {
  background-color: #2b2b2b;
  border: 0;
  padding: 5px;
  margin-bottom: 5px;
  display: flex;
  color: var(--lightgreen);
  width: 33%;
  justify-content: space-between;
  cursor: pointer;
  appearance: none;
  border-radius: 0;
}

.overview .view-all:hover {
  text-decoration: underline;
}

.overview .view-all span {
  color: white;
}

@media screen and (max-width: 800px) {
  .overview .view-all {
    width: 49.5%
  }
}

.overview-option-list {
  list-style: none;
}

.overview-option-list.main {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 5px;
}

.overview-option-list.tier-1 li {
  padding: 5px;
}

/* .overview-option-list:not(.main) {
  padding-left: 5px;
} */

.overview-option-list > li {
  display: flex;
  flex-direction: column;
  padding: 5px 0;
  gap: 5px;
}

.overview-option-list.tier-0 > li {
  background-color: #2b2b2b;
}

.overview-option-list.main > li {
  padding: 5px;
}

.overview-option-list.main li p.label {
  font-weight: 500;
  font-size: 0.875rem;
  text-align: start;
}

.overview-option-list:not(.main):not(.tier-0) > li {
  padding: 5px;
}

.overview-option-list:not(.main).tier-1 li.has-children {
  border-left: 1px solid #333;
  margin-bottom: 10px;
  margin-left: 5px;
  padding-top: 0;
  padding-bottom: 0;
  border-top-left-radius: 3px;
  overflow: hidden;
}

.overview-option-list:not(.main).tier-1 li.has-children p.label {
  background-color: #333;
  margin-left: -5px;
  padding: 0px 10px 0 5px;
  font-weight: 400;
  text-align: start;
  align-self: flex-start;
}

.overview-option-list.main > li button {
  font-size: 0.875rem;
  text-align: start;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  display: flex;
  justify-content: space-between;
  gap: 5px;

}

.overview-option-list.main > li button > span {
  color: lightgrey;
}

@media screen and (max-width: 800px) {
  .overview-option-list.main {
    grid-template-columns: repeat(2, 1fr);
  }
}
