button.search-button {
  width: calc(100% - 20px);
  border: 1px solid #555;
  background-color: transparent;
  /* margin: 10px; */
  width: 100%;
  padding: 10px 15px;
  font-size: 1rem;
  text-align: start;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: grey;
  border-radius: 5px;
  font-size: 0.875rem;
  /* margin-bottom: 10px; */
  box-shadow: #222 0px 2px 8px 0px;
}

button.search-button > svg {
  width: 15px;
  fill: grey;
}

@media screen and (max-device-width: 480px) { 
  button.search-button {
    margin: 0 10px;
    width: calc(100% - 20px);
  }
}
