.comment button:not(:disabled) {
  cursor: pointer;
}

/* .comment {
  border-bottom: #343434 1px solid;
} */

.comment:hover .depth-bar:last-child {
  background-color: blue;
}

.comment:last-child {
  border-bottom: 0;
}

.comment:not(.is-root-level) {
  margin-top: 15px;
}

.comment .bars-and-content {
  display: flex;
  padding: 5px 0;
}

.comment .bars-and-content .profile-picture-container {
  margin-right: 10px;
  position: relative;
}

.comment .bars-and-content .profile-picture-container .profile-picture {
  background-color: #666;
  border-radius: 100px;
  width: 35px;
  height: 35px;
  object-fit: cover;
}

.comment:not(.is-root-level)
  .bars-and-content
  .profile-picture-container
  .profile-picture {
  width: 25px;
  min-width: 25px;
  height: 25px;
  object-fit: cover;
}

.comment .bars-and-content .profile-picture-container .thread-bar-target {
  width: 15px;
  cursor: pointer;
  height: 100%;
  background-color: transparent;
  transform: translateX(-50%);
  position: absolute;
  left: 50%;
}

.comment .bars-and-content .profile-picture-container .thread-bar {
  width: 2px;
  pointer-events: none;
  height: 100%;
  background-color: #444;
  transform: translateX(-50%);
  position: absolute;
  left: 50%;
}

.thread-bar-target:hover + .thread-bar {
  background-color: #555 !important;
}
/* .comment .bars-and-content .profile-picture-container .thread-bar:hover {
  background-color: #555;
} */

.comment .bars-and-content .comment-contents {
  padding: 5px 10px;
  width: 100%;
  padding-left: 0;
  color: white;
}

.comment .bars-and-content .comment-contents .comment-header {
  display: flex;
  gap: 10px;
}

.comment .depth-bar {
  margin-right: 15px;
  background-color: #666;
  width: 1px;
}

.comment .depth-bar.root {
  margin-right: 5px;
}

.comment-form.is-reply {
  margin-top: 5px;
}

.comment-form textarea {
  font-family: Arial, Helvetica, sans-serif;
  width: 100%;
  font-size: 1rem;
  padding: 6px;
}

.comment-form .buttons {
  display: flex;
  gap: 5px;
}

.comment .controls {
  display: flex;
  gap: 10px;
  margin-top: 5px;
}

.comment .comment-form .buttons {
  display: flex;
  gap: 10px;
  width: 100%;
}

.comment .controls button,
.comment .comment-form .buttons button {
  background-color: transparent;
  padding: 0;
  border: 0;
  font-weight: 600;
  font-size: 0.875rem;
  display: flex;
  gap: 5px;
  align-items: center;
}

.comment .controls button:not(:disabled),
.comment .comment-form .buttons button:not(:disabled) {
  color: white;
}
.comment .controls button svg,
.comment .comment-form .buttons button svg {
  width: 14px;
}

.comment .controls button:not(:disabled) svg,
.comment .comment-form .buttons button:not(:disabled) svg {
  fill: white;
}

.comment .body {
  white-space: pre;
}

.comment .replies-button {
  color: var(--lightgreen);
  display: flex;
  gap: 5px;
  font-weight: 600;
  font-size: 0.875rem;
  background-color: transparent;
  padding: 0;
  margin-top: 10px;
  border: 0;
}

.comment .replies-button svg {
  width: 15px;
  fill: var(--lightgreen);
}
