html,
body,
#root {
  height: 100%;
}
:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --shadow-subtle: 0 1px 2px #000000;
  --text-color: #ffffffde;
  --lightgreen: #4ad493;
  --red: #ff607d;
  --yellow: var(--lightgreen);
  --orange: #ff9400;

  --bg-primary: #242424;

  --bg-container: #2b2b2b;
  --container-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;

  --nav-bg-color: #151b23;

  --shadow-tail-down: 0px 10px 12px -3px #1c212866;
  --shadow-extended-border: 0px 0px 0px 1px #3d444d;

  --popup-menu-header-bg-color: #2b2b2b;
  --popup-menu-bg-color: #2f2f2f;
  --popup-menu-border-color: #3d444d;
  --popup-menu-box-shadow: var(--shadow-extended-border), var(--shadow-tail-down);

  --button-default-bg-color: #333;
  --button-default-bg-color-hover: #3b3b3b;
  --button-default-border-color: #3d444d;
  --button-default-border-color-hover: #3d444d;
  --button-green-bg-color: #357e3a;
  --button-green-bg-color-hover: #3c9042;

  --input-default-border-color: #3d444d;
  --input-default-border-color-hover: #3d444d;

  --text-color-white: #d1d7e0;
  --text-color-muted: #9198a1;
  --text-color-error: rgb(218, 76, 104);
  --text-color-green: lightgreen;

  --container-bg-color: #2a313c;
  --container-border-color: #3d444d;

  color: var(--text-color);
  background-color: var(--bg-primary);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline-color: var(--lightgreen);
}

input[type="radio"] {
  accent-color: var(--lightgreen);
}

a {
  appearance: none;
  color: var(--lightgreen);
  text-decoration: none;
}

textarea {
  resize: vertical;
  color: white;
  min-width: 150px;
}

.italic {
  font-style: italic;
}

.modal-overlay {
  background-color: #333333a5;
  position: fixed;
  inset: 0;
}

.horizontal-divider {
  height: 1px;
  background-color: #343434;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 100%;
}

.large-text {
  font-size: 1.15rem;
  font-weight: 500;
}

.small-text {
  font-size: 0.875rem;
  display: flex;
  gap: 5px;
}

.small-text.bold {
  font-weight: 500;
}

.small-text.disabled {
  color: grey;
}

.small-text.disabled svg {
  fill: grey;
  width: 0.875rem;
}

.error-text {
  color: var(--red);
}

.tiny-text {
  font-size: 0.75rem;
}

.tiny-text.bold {
  font-weight: 600;
}

.auth-wrapper {
  color: white;
}

.info-icon-span {
  background-color: #666;
  border-radius: 100px;
  width: 16px;
  height: 16px;
  font-weight: 600;
  display: flex;
  justify-content: center;
  cursor: help;
  font-size: 0.875rem;
  align-items: center;
}

/* Forms */

/* Resets autocomplete colors */
/* Change the white to any color */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px #3b3b3b inset !important;
}
/* Additionally, you can use this to change the text color: */

/*Change text in autofill textbox*/
input:-webkit-autofill {
  -webkit-text-fill-color: white !important;
}

form.standard {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

form.standard .form-block {
  background-color: #3b3b3b;
  border: 1px solid #555;
  padding: 10px;
  border-radius: 3px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

form.standard .form-block fieldset {
  border: 0;
  display: flex;
  justify-content: space-between;
  gap: 15px;
}

form.standard .form-group.marked,
form.standard .custom-photo-upload.marked {
  padding: 5px;
  border: 1px solid var(--red);
  border-radius: 5px;
}

form .form-group.marked,
form .custom-photo-upload.marked {
  padding: 5px;
  border: 1px solid var(--red);
  border-radius: 5px;
}

/* .modal.add-review form .form-group,
.reset-password form .form-group,
.update-password form .form-group,
.register form .form-group,
.login form .form-group { */

form.standard .form-groups {
  display: flex;
}

form.standard .form-groups-parent {
  gap: 15px;
  display: flex;
  flex-direction: column;
}

form.standard .form-group {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 3px;
}

form .form-group label {
  word-wrap: break-word;
  font-size: 0.875rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 5px;
}

form .form-group .input-and-visible-toggle {
  display: flex;
  gap: 10px;
}

form .form-group .input-and-visible-toggle button {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #555;
  border-radius: 3px;
  padding: 3px 10px;
  cursor: pointer;
}

form .form-group .input-and-visible-toggle svg {
  fill: white;
  width: 17px;
}

form .form-group .input-and-visible-toggle input {
  width: 100%;
}

form.standard input,
form.standard textarea,
select {
  font-family: Arial, Helvetica, sans-serif !important;
  appearance: none;
  font-family: inherit;
  padding: 3px 5px;
  border-radius: 3px;
  border: 1px solid #555;
  background-color: #3b3b3b;
  color: white;
  font-size: 1rem;
}

form .select-container {
  display: flex;
  width: 100%;
  position: relative;
}

form .select-container > select {
  padding: 5px 10px 5px 30px;
}

form .form-group .select-container > select.sort-select {
  width: 100%;
  /* background-color: transparent; */
  /* border: 0; */
  background-color: #3b3b3b;
  border-radius: 3px;
  /* border-left: 2px solid ; */
  /* padding: 5px 7px; */
  cursor: pointer;
  transition: 0.05s ease background-color;
  color: whitesmoke;
  padding-right: 30px;
  z-index: 1;
  border: 1px solid #555;
  width: 100%;
  padding-left: 30px !important;
  /* box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px; */
}

form .form-group .select-container svg {
  position: absolute;
  width: 9px;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  fill: whitesmoke;
  z-index: 2;
}

form.standard textarea {
  min-height: 100px;
}

form.standard button[type="submit"] {
  align-self: flex-start;
  font-size: 1rem;
  color: white;
  background-color: #444;
  border: 1px solid #555;
  border-radius: 3px;
  padding: 3px 5px;
  cursor: pointer;
  transition: 0.1s ease background-color;
}

a:hover {
  text-decoration: underline;
}

form.standard button[type="submit"]:disabled {
  color: grey;
  border-color: #555;
  cursor: not-allowed;
}

form.standard .form-group.required label::after {
  content: "*";
  color: var(--red);
}

form.standard .form-group.disabled {
  pointer-events: none;
}

form.standard .form-group.disabled button,
form.standard .form-group.disabled label {
  color: grey;
}

form.standard .form-group.disabled svg {
  fill: grey;
}

.modal {
  z-index: 2;
  background-color: #2f2f2f;
  position: fixed;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  padding: 10px;
  border-radius: 3px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  border: 1px solid #555;
  box-shadow: 3px 3px 15px #181818;
  width: calc(100% - 30px);
}

.modal .header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

h4,
h3,
h2,
h1 {
  font-weight: 600;
}

.button {
  font-size: 1rem;
  color: white;
  background-color: #444;
  border: 1px solid #555;
  border-radius: 3px;
  padding: 3px 5px;
  cursor: pointer;
  transition: 0.1s ease background-color;
  display: flex;
  align-items: center;
  gap: 7px;
}

.button:not(:disabled):hover {
  background-color: #4f4f4f;
}

.button:disabled {
  cursor: not-allowed;
  color: grey;
}

.button svg {
  width: 13px;
  min-width: 13px;
  fill: white;
}

button.link-button {
  color: var(--lightgreen);
  border: 0;
  background-color: transparent;
  padding: 0;
  font-size: 1rem;
  cursor: pointer;
}

button.link-button:focus,
button.link-button:focus-visible,
button.link-button:focus-within,
button.link-button:active{
  background-color: green;
}

button.link-button:not(:disabled):hover,
button.link-button:not(:disabled):focus {
  text-decoration: underline;
}

.skeleton {
  background-color: #2b2b2b;
}

.skeleton.blinking {
  animation: skeleton-blink infinite alternate linear 0.5s;
}

@keyframes skeleton-blink {
  from {
    filter: brightness(1);
  }
  to {
    filter: brightness(1.5);
  }
}

/* Phones */
@media only screen and (max-device-width: 480px) {
  main {
    padding-top: 15px;
    padding-bottom: 65px;
  }
}

/* tablets */
@media only screen and (max-device-width: 768px) {
}

/* Laptops and medium desktops */
@media only screen and (max-device-width: 992px) {
}

/* large desktops/devices */
@media only screen and (max-device-width: 1200px) {
}
