.radio-options {
  display: flex;
  padding: 5px;
  flex-direction: column;

  flex-direction: column;
  gap: 5px;
  width: 100%;
}
.radio-options > .radio-option {
  display: flex;
  font-size: 1rem;
  align-items: center;
  gap: 10px;
  padding: 3px 0;
  cursor: pointer;
}

.radio-options > .radio-option label {
  font-size: 0.875rem;
  cursor: pointer;
}

.radio-options > .radio-option svg {
  width: 17px;
  fill: #ccc
}

.radio-options.disabled > .radio-option label {
  color: grey;
}


.radio-options.disabled > .radio-option svg {
  fill: grey;
}